@media only screen and (max-width:1800px)
	body
		zoom: 0.9

@media only screen and (max-width:1700px)
	body
		zoom: 0.8

@media only screen and (max-width:1600px)
	body
		zoom: 1
	body
		font-size: 14px
	.aside
		min-height: a(110px)

	.aside_container
		max-width: a(273px)
		flex: 0 0 a(273px)
		padding-top: a(45px)
		padding-bottom: 38px

	.logo
		font-size: a(17px)
		img
			width: a(50px)
			margin-right: a(13px)

	.nav_list
		margin-top: a(90px)
		padding-bottom: a(17px)
		margin-bottom: 30px
		li
			margin-bottom: a(40px)
	.nav_link
		font-size: a(18px)
		&:before
			width: a(5px)
			margin-right: a(16px)
		&:hover
			&:before
				width: a(46px)

	.address_item
		margin-top: 20px
		background-position: left a(25px)
		left: a(-5px)

	.address_title
		font-size: 10px
		margin-bottom: a(8px)

	.address_text
		font-size: 10px
		max-width: 120px

	.address_phone
		margin-top: a(40px)
		margin-bottom: a(44px)

	.phone_link
		font-size: 14px

	.link_call_back
		font-size: 10px
	.soc_link
		transform: scale(0.7)
	.soc_list
		li
			margin: 0
	.header
		padding: a(50px) 0
	.header_info
		font-size: 10px
		padding: a(13px) 0
		padding-left: a(60px)
	.header_nav
		li
			padding-right: a(30px)
			padding-left: a(23px)
			&:first-child
				padding-right: a(44px)
	.head_link
		font-size: 11px
		height: 16px
		background-size: auto 15px
		padding-left: 25px

	.home_section
		max-width: 1100px

	.container
		max-width: a(1311px)
		padding: 0 25px

	.home_slide
		height: a(663px)
	.home_title
		font-size: a(17px)
		top: a(50px)
		left: a(76px)
		span
			font-size: a(45px)
			line-height: a(57px)
			left: a(-30px)
			margin-top: a(10px)
	.home_text
		font-size: a(37px)
		left: a(44px)
		bottom: a(95px)
	.swiper_dots
		left: a(44px)
		bottom: a(33px)
		padding: a(10px) 0
		border-radius: a(10px)
	.swiper-pagination-bullet
		margin: 0 a(17px)
	.how_much
		width: a(102px)
		height: a(102px)
		font-size: a(12px)
	.home_section
		.how_much
			top: a(98px)
			right: a(187px)
	.how_much_inner
		width: a(85px)
		height: a(85px)
		span
			font-size: a(29px)
	.info_item
		margin-right: a(37px)
		font-size: a(12px)
		span
			font-size: a(20px)
			margin-right: a(10px)

	.container_full
		max-width: a(1460px)
	.section_title
		font-size: a(33px)

	.section_title.small
		font-size: a(20px)

	.findapart_section
		padding-top: a(40px)

	.info_top
		padding: a(19px) a(19px) a(19px) a(100px)
		width: a(563px)

	.input_name
		font-size: a(14px)
		margin-bottom: a(15px)
	.form_checkbox
		margin-right: 50px
	.form_checkbox_item
		label
			width: a(65px)
			height: a(59px)
	.form_checkbox_row
		.form_checkbox_item
			margin-right: a(11px)

	.findapart_form
		padding-top: a(30px)
	.input_block
		padding: a(18px) 0
		label
			font-size: 11px
		input
			font-size: 11px

	.form_inputs.area
		width: 200px
		input
			width: 30px
	.form_inputs.prices
		width: 250px
		input
			width: 60px
	.button
		padding: a(20px) a(44px)
	.about_section
		padding-top: a(90px)
		padding-bottom: a(100px)

	.about_title
		font-size: a(20px)
		margin-top: a(33px)
		margin-bottom: a(20px)

	.about_col
		background-position: 0 a(18px)
		font-size: a(15px)
		padding: a(18px) 0
		padding-left: a(40px)

	.about_row
		max-width: a(687px)
		&:last-child
			margin-bottom: a(30px)

	.about_text
		font-size: 13px
		margin-top: a(30px)
	.about_block
		padding-left: a(220px)
		padding-top: a(26px)
		background-position: a(40px) a(30px)
		background-size: a(146px) auto

	.about_text.left
		padding-right: a(60px)

	.about_container .section_title
		margin-bottom: a(40px)

	.about_text.right
		padding-left: a(60px)

	.about_b
		font-size: a(16px)
		margin-bottom: a(19px)

	.about_str
		font-size: 12px
		margin-bottom: 12px
		span
			margin-top: 6px
			margin-bottom: 13px
	.about_img
		width: a(50px)
		top: a(20px)

	.about_container
		max-width: 800px
		margin-top: a(30px)
		margin-bottom: a(40px)

	.about_item
		height: a(201px)
		font-size: 11px
		margin-bottom: a(20px)
		background-size: auto a(40px)
		>div
			>span
				font-size: 12px
				margin-top: a(7px)
	.num
		top: a(20px)
		right: a(23px)
	.row
		margin-right: a(-10px)
		margin-left: a(-10px)
		>*
			padding-left: a(10px)
			padding-right: a(10px)

	.about_item.type_1
		background-position: a(50px) center
		>div
			padding-left: a(96px)

	.about_item.type_2
		background-position: a(56px) center
		>div
			padding-left: a(120px)

	.about_item.type_3
		background-position: a(58px) center
		>div
			padding-left: a(116px)

	.about_item.type_4
		background-position: a(54px) center
		>div
			padding-left: a(116px)

	.about_item.type_5
		background-position: a(50px) center
		>div
			padding-left: a(100px)

	.about_item.type_6
		background-position: a(37px) center
		>div
			padding-left: a(96px)

	.about_item.type_7
		background-position: a(38px) center
		>div
			padding-left: a(94px)

	.about_item.type_8
		background-position: a(50px) center
		>div
			padding-left: a(120px)

	.about_item.type_9
		background-position: a(40px) center
		>div
			padding-left: a(110px)

	.about_item.type_10
		background-position: a(40px) center
		background-size: a(60px)
		>div
			padding-left: a(110px)

	.phone_big
		font-size: 12px
		a
			font-size: 22px
	.about_bottom
		margin-top: a(30px)
		p
			flex: 0 0 450px

	.about_right
		font-size: 12px
		.link_download
			margin-left: 10px

	.link_download
		font-size: 12px
		padding-left: 20px

	.preloader
		>div
			transform: scale(0.7)
	.company_section
		padding-bottom: a(60px)
		padding-top: a(60px)
	.button_clear
		font-size: 13px
		padding: a(13px) a(20px)
		min-width: a(134px)
	.company_button_block
		padding-left: a(28px)
		margin-left: a(28px)
		&:before
			height: a(20px)
		.button_clear
			margin-right: a(17px)

	.company_item
		padding-bottom: a(70px)
		margin-bottom: a(60px)
		font-size: a(15px)
		h3
			font-size: a(27px)

	.company_row
		margin-top: a(153px)
	.team_item
		padding-top: a(50px)
		padding-left: a(48px)
		padding-bottom: a(40px)
		height: a(465px)

	.team_img
		width: a(244px)
		height: a(290px)
		margin-left: a(10px)
		&:before
			height: a(140px)

	.team_name
		font-size: a(20px)
		margin-top: a(5px)
	.team_prof
		font-size: a(15px)
		margin-top: a(9px)
	.team_section
		max-width: a(1270px)
	.team_name_big
		font-size: a(25px)

	.team_item_big
		padding-top: a(48px)
		padding-right: a(30px)
		height: a(465px)
	.team_item_mid
		height: a(465px)
		padding-top: a(76px)
		padding-left: a(40px)
	.team_content_big
		max-width: a(329px)
		padding-left: a(40px)
		font-size: a(12px)
		.team_prof
			margin-bottom: a(35px)
	.team_img_big
		width: a(316px)
		height: a(403px)
		&:before
			height: a(174px)
	.team_img_mid
		width: a(253px)
		height: a(300px)
		&:before
			height: a(174px)

	.col362
		flex: 0 0 a(362px)
		max-width: a(362px)

	.col375
		flex: 0 0 a(375px)
		max-width: a(375px)

	.slogan
		font-size: a(29px)
		padding-left: a(170px)
		margin: a(56px) 0
	.partner_section
		max-width: a(1270px)
		padding-top: a(20px)
		.section_title
			margin-bottom: a(58px)
	.partner_item
		font-size: a(13px)
		height: a(212px)
		padding-top: a(168px)
		padding-bottom: a(27px)
	.partner_item.type_1
		background-size: a(217px) auto

	.partner_item.type_2
		background-size: a(170px) auto

	.partner_item.type_3
		background-size: a(103px) auto

	.partner_item.type_4
		background-size: a(208px) auto

	.partner_item.type_5
		background-size: a(208px) auto

	.partner_item.type_6
		background-size: a(333px) auto

	.footer
		//max-width: a(1270px)
		padding-top: a(77px)
		padding-bottom: a(70px)
	.footer_right
		width: a(362px)

	.footer_str
		padding-top: a(28px)
		padding-bottom: a(28px)
		padding-left: a(87px)

	.footer_str.type_2
		padding-top: a(17px)
		padding-bottom: a(17px)

	.phone_str
		a
			font-size: 13px
	.address_str
		address
			font-size: 11px
			max-width: a(211px)

	.copy
		font-size: 11px
		max-width: a(690px)
		margin-top: a(30px)

	.projects_section
		padding-top: a(57px)
		.section_title
			margin-bottom: a(50px)
	.project_item
		margin-bottom: 15px
		.how_much
			position: absolute
			top: a(35px)
			right: a(35px)
	.project_img
		height: a(481px)
	.project_item
		height: a(728px)

	.project_content
		padding-top: a(25px)
		padding-left: a(35px)
		padding-right: a(25px)
	.num_info
		font-size: a(12px)
		div
			font-size: a(20px)
			padding: a(5px)
			min-width: a(33px)
			margin-left: a(11px)
	.col500
		flex: 0 0 a(500px)
		max-width: a(500px)
	.line_right
		margin-right: a(15px)
		padding-right: a(17px)
		&:before
			height: a(15px)
			top: calc(50% - 5px)
	.text_info
		font-size: a(12px)
		div
			margin-left: a(14px)
			span
				font-size: a(20px)

	.mt15
		margin-top: a(15px)

	.project_b
		font-size: a(12px)
		padding-left: a(10px)

	.project_name
		font-size: a(20px)
		margin-top: a(5px)
	.project_address
		font-size: a(14px)
		max-width: a(250px)
		padding-left: a(5px)
		margin-top: a(10px)
		&:before
			width: a(15px)
			height: a(15px)
			left: a(-20px)
	.button_line
		font-size: a(11px)
		padding: a(12px) a(20px)
		border-radius: a(24px)
	.project_bottom
		margin-top: a(25px)
	.project_prices.type_1
		top: 0
		margin-left: a(45px)
	.project_prices
		top: a(-10px)
		&:before
			width: a(31px)
			height: a(31px)
			top: calc(50% - 3px)
			left: a(-45px)
	.price_item
		font-size: a(12px)
		>span
			margin-right: a(9px)
		>div
			margin-left: a(6px)
			top: a(4px)
			span
				font-size: a(29px)
	.header_contact
		flex: 0 0 a(466px)
		address
			font-size: a(11px)
			max-width: a(220px)
			margin-right: a(30px)
		.address_phone
			width: a(200px)
		.phone_link
			font-size: a(14px)

	.aside.type_2 .nav_list
		margin-bottom: a(450px)

	.row_5
		margin-right: -3px
		margin-left: -3px
		>*
			padding-left: 3px
			padding-right: 3px

	.first_section
		padding-top: a(57px)
		.section_title
			margin-bottom: a(51px)
	.tab_item
		label
			padding: a(29px) a(3px)
			font-size: 13px

	.document_row
		margin-left: a(-20px)
		margin-right: a(-20px)
		margin-top: a(60px)
		margin-bottom: a(50px)
		>*
			padding-left: a(20px)
			padding-right: a(20px)
	.document_item
		position: relative
		margin-bottom: a(60px)
	.document_title
		font-size: 13px
		margin-bottom: 12px
	.document_icon
		background-size: a(88px) auto
		height: 220px


	.container_document
		padding-left: a(44px)
		padding-right: 10px


	.calculation
		padding: a(34px) a(46px) a(34px)
		height: a(563px)
		.button
			width: a(293px)
		h2
			font-size: a(21px)
			padding-bottom: a(27px)


	.creditadv_item
		padding: a(48px) a(45px) a(30px)
		height: a(194px)
		p
			font-size: a(15px)

	.creditadv_head
		font-size: a(18px)
		margin-bottom: a(5px)
		margin-top: a(10px)

	.creditadv_icon.type_1
		width: a(48px)
		height: a(40px)

	.creditadv_icon.type_2
		width: a(53px)
		height: a(38px)

	.creditadv_icon.type_3
		width: a(31px)
		height: a(40px)

	.creditadv_icon.type_4
		height: a(40px)
		width: a(30px)

	.creditadv_section
		padding-top: a(35px)
		padding-bottom: a(35px)
		h2
			font-size: a(21px)
			margin-bottom: a(30px)

	.creditadv_text
		font-size: a(16px)
		max-width: a(750px)
		margin: a(40px) 0

	.footer_row
		max-width: a(1270px)

	.calculation_inputs
		margin-top: a(30px)
		padding-bottom: a(50px)
	.calculation_input
		flex: 0 0 a(210px)
		.input_block
			padding: a(20px) 0
			padding-left: a(40px)
			span
				font-size: a(13px)
			input
				width: a(76px)
				font-size: 11px
	.calculation_input.type_2
		.input_block
			padding-left: 60px
		.input_procent
			color: $ac
			font-size: 13px
			padding: 0 a(12px)
	.calculation_input.type_3
		.input_block
			padding-left: a(23px)
			padding-right: a(23px)
	.calculation_selects
		margin-top: a(43px)
		margin-bottom: a(37px)


	.calculation_select
		width: a(331px)
	.select
		position: relative
		input
			font-size: 11px
			padding: a(21px)
			background-position: calc(100% - 15px) center
	.select_list
		top: a(60px)
		li
			font-size: 11px
			padding: a(20px) a(21px)

	.bank_offers
		padding: a(46px)
		height: a(274px)
		margin-bottom: a(14px)

	.bank_offers_logo
		max-width: a(201px)
		padding-bottom: a(27px)

	.bank_offers_logo.type_1
		img
			width: a(122px)

	.bank_offers_logo.type_2
		img
			width: a(61px)
	.bank_offers_table
		font-size: a(14px)
		tr
			padding: a(8px) a(8px) a(14px) a(16px)
			&:before
				width: a(201px)
		td
			&:first-child
				padding-right: a(20px)

	.contact_item
		height: a(550px)
	.map
		width: a(1500px)

	.map_marker
		width: a(60.5px)
		height: a(74px)
		left: 570px
		top: a(153px)

	.map_window
		width: a(330px)
		top: a(42px)
		left: a(42px)
		padding-top: a(30px)

	.map_window_head
		font-size: a(14px)
		padding-left: a(46px)
		padding-bottom: a(32px)
		span
			font-size: a(16px)
			margin-top: a(5px)

	.mess_list
		padding-left: a(43px)
		margin-top: a(13px)
		margin-bottom: a(20px)
		li
			margin-right: a(13px)

	.mess_link
		width: a(30px)
		height: a(30px)

	.map_window_str
		font-size: a(15px)
		padding-left: a(45px)
		padding-right: a(29px)
		margin-top: a(26px)
		&:before
			left: a(20px)

	.map_window_str.address
		&:before
			width: a(17px)
			height: a(15px)

	.map_window_str.time
		padding-bottom: a(24px)
		&:before
			background-image: url(../images/icon/17.svg)
			width: a(16px)
			height: a(16px)
	.map_window_str.phone
		&:before
			width: a(14px)
			height: a(14px)
		a
			font-size: a(16px)

	.map_window_str.mail
		padding-top: a(24px)
		padding-bottom: a(35px)
		&:before
			width: a(16px)
			height: 10px
			top: a(25px)

	.map_window_str.object
		margin-top: a(28px)
		margin-bottom: a(45px)
		&:before
			width: a(15px)
			height: a(15px)

	.contact_item.type_2
		.map_window_head
			padding-top: a(15px)
			padding-bottom: a(25px)

	.map_icons
		left: a(383px)
		top: a(42px)
		width: a(235px)
	.map_icons_head
		padding: a(20px) a(33px) a(20px)
		font-size: a(15px)

	.map_icons_list
		padding-left: a(33px)
		padding-top: a(21px)
		padding-bottom: a(15px)
		li
			padding-left: a(30px)
			font-size: a(16px)
			margin-bottom: a(16px)

	.map_marker_2
		width: a(60px)
		height: a(74px)
		top: 170px
		left: 605px

	.contact_section.show
		.map_window_body_1
			height: a(380px)
			animation: map_window_body_3 1s 1
		.map_window_body_2
			height: a(115px)
			animation: map_window_body_4 1s 1
	.chioce_nav
		width: a(344px)
		height: a(66px)
	.chioce_link
		padding-left: a(21px)
		font-size: a(15px)
		&:after
			width: a(12px)
			height: a(12px)
			margin-left: a(15px)
			border-width: a(4px)
	.choices_section
		.chioce_nav
			margin-bottom: a(50px)
	.choices_row
		margin-top: a(60px)

	.choices_item
		padding: a(35px) a(38px) a(40px)
		margin-bottom: a(24px)
		&:hover
			padding-left: a(30px)
			padding-right: a(30px)
	.choices_top
		padding-bottom: a(18px)
		h2
			font-size: a(13px)

	.choices_area
		font-size: a(13px)
		span
			font-size: 11px
			padding: a(4px) a(10px)
			margin-left: a(10px)
			border-radius: 3px

	.choices_center
		padding-top: a(13px)
		font-size: a(16px)

	.choices_price
		font-size: a(16px)
	.choices_img
		height: a(274px)
		margin-top: a(40px)
		margin-bottom: a(30px)
	.choices_num
		font-size: 11px
		margin-right: a(18px)
		div
			font-size: a(15px)
			border-radius: a(5px)
			width: a(39px)
			height: a(39px)
			margin-left: a(8px)
	.button_back
		padding: a(15px) a(35px) a(13px) a(40px)
		background-position: 15px 52%
	.section_left
		margin-bottom: a(50px)
		.button_back
			margin-right: a(24px)
		.section_title
			margin-bottom: 0

	.chioce_progr
		width: a(323px)
		font-size: a(13px)
		margin-top: a(-50px)

	.chioce_progr_left
		div
			font-size: a(18px)
			margin-left: a(3px)
			span
				font-size: a(13px)
				margin-left: a(3px)

	.chioce_progr_right
		div
			font-size: a(18px)
			margin-left: a(3px)
			span
				font-size: a(13px)
				margin-left: a(3px)
	.chioce_line
		height: 3px

	.house_top, .house_center, .house_bottom
		width: a(1350px)

	.house_num
		width: a(45px)
		font-size: 11px
		height: a(45px)
		border-radius: 5px
		left: a(-90px)
		top: calc(50% - 15px)
	.house_right
		.house_num
			left: auto
			right: a(-90px)

	.container_big
		max-width: a(1545px)
		padding: 0 a(10px)

	.house_sect
		margin-top: a(35px)
	.house_sect_left, .house_sect_right
		height: a(83px)

	.sect_num
		font-size: a(12px)
		width: a(50px)
		span
			width: a(38px)
			height: a(38px)
	.apartment_aside
		padding: a(64px) a(55px) a(66px) a(42px)

	.apartment_str
		padding-bottom: a(23px)
		margin-bottom: a(16px)
		span
			padding: a(10px) a(25px)
			border-radius: a(5px)
			font-size: a(27px)
			margin-top: a(11px)
			sup
				top: a(5px)
				font-size: a(16px)
	.apartment_b
		font-size: 12px

	.apartment_str_l
		font-size: a(27px)
	.apartment_str_r
		font-size: a(19px)
		.apartment_b
			margin-bottom: a(5px)

	.apartment_p
		font-size: a(22px)
		span
			font-size: a(31px)

	.apartment_price
		margin-bottom: a(19px)

	.apartment_title
		font-size: 11px
		margin: a(153px) 0 a(25px)
		span
			font-size: a(19px)

	.mortgage_str
		margin-top: a(270px)
		margin-bottom: a(30px)
		height: a(22px)
		font-size: 11px
		padding-left: a(37px)
		span
			margin-left: a(6px)
	.button_silver
		font-size: 11px
		border-radius: a(5px)
		padding: a(18px) a(91px) a(22px) a(74px)

	.apartment_right
		padding-top: a(27px)
		padding-left: a(70px)

	.apartment_day
		width: a(440px)

	.apartment_img
		height: 400px
		margin-top: a(50px)
		margin-bottom: a(27px)

	.action_list
		li
			margin-right: a(37px)

	.action_link
		font-size: 11px
		padding-left: a(25px)

	.compas
		width: a(98px)
		height: a(98px)

	.min_house
		width: a(330px)
		height: a(169px)
		top: a(35px)

	.min_house_bg
		height: a(17px)

	.apart_info
		margin-right: a(160px)
	.apart_info_item
		font-size: a(19px)
		margin-right: a(19px)
		span
			width: a(39px)
			height: a(39px)
			border-radius: a(5px)
			margin-left: a(12px)

	.apart_sheme
		width: a(1160px)
		height: a(686px)
		margin-top: a(38px)
		margin-left: a(20px)

	.apart_sheme_row
		width: a(2160px)

	.apart_sheme_item
		width: a(1060px)

	.apart_svg
		transform: scale(0.7) translate(-25%, -15%)
		width: a(440px)
		height: a(255px)

	.modal
		.modal__container
			max-width: a(954px)
			padding: a(56px)
			padding-bottom: a(165px)

	.modal_block
		max-width: a(512px)
		margin-top: a(85px)
		.button_silver
			font-size: 16px
			padding: a(22px)

	.modal_title
		font-size: a(33px)
		margin-bottom: a(50px)

	.form_str
		margin-bottom: a(33px)
		input
			padding-bottom: a(20px)
			font-size: 12px

	.radiobutton_block
		padding: 0 a(10px)
		label
			font-size: a(14px)
			&:before
				width: a(12px)
				height: a(12px)
				box-shadow: 0 0 0 1px #b5b5b5
				border: a(3px) solid #fff
				margin-right: a(10px)

	.credit_radios
		padding-top: a(46px)
		padding-bottom: a(40px)

	.credit_steps_item
		padding: a(50px) 0 a(70px)
		div
			max-width: a(315px)
			height: a(115px)
			padding-left: a(138px)
			background-size: a(110px) 100%
			font-size: a(13px)
			line-height: a(15px)
		span
			font-size: a(34px)
			top: a(-20px)
			left: a(-60px)

	.credit_steps_item.line
		&:before
			width: a(92px)
			right: a(-46px)

	.credit_steps_row
		margin-top: a(60px)

	.term_item_num
		width: a(38px)
		height: a(55px)
		font-size: a(17px)
		right: a(53px)

	.term_item
		padding: a(45px)
		min-height: a(587px)
		margin-bottom: a(19px)
		background-position: right calc(100% - 37px)
		>div
			padding-left: a(320px)
			max-width: a(990px)
			background-size: auto a(180px)
		p
			font-size: a(14px)

	.term_content
		max-width: a(460px)
		padding-bottom: a(35px)
		h2
			font-size: a(23px)
			margin-bottom: a(22px)
		h3
			font-size: a(16px)
		ul
			font-size: a(14px)
			margin-top: a(20px)
		li
			margin-bottom: a(10px)
			&:before
				left: a(-15px)
				top: a(6px)
	.choices_popup
		width: a(661px)
		height: a(534px)
		padding: a(24px)


	.choices_popup_sheme
		width: a(535px)
		height: a(348px)
		margin-top: a(34px)

	.choices_popup_top
		div
			font-size: a(11px)
			margin-left: a(16px)
			span
				width: a(34px)
				height: a(34px)
				border-radius: a(5px)
				margin-left: a(12px)

	.button_link
		font-size: a(14px)
		border-radius: a(5px)
		padding: a(15px) 0 a(15px)
		padding-left: a(15px)
		width: a(150px)
		margin: a(27px) auto 0

	.house_info
		padding-top: a(3px)
		padding-right: a(7.5px)
		height: a(72px)
		div
			font-size: a(14px)
			margin-right: a(30px)
			span
				font-size: a(41px)
		.button
			font-size: a(14px)
			padding: a(19px) a(70px) a(21px)


@media only screen and (max-height:650px)
	.aside
		position: relative
		width: 100%




@media only screen and (max-width:1200px)
	body
		width: 1200px



