<header class="header header_contact">
	<div class="container">
		<a href="#" class="button_reset button_back"><span></span>Вернуться</a>
		<ul class="ul_reset action_list">
			<li>
				<a href="#" class="button_reset button_favor"></a>
			</li>
			<li>
				<a href="#" class="button_reset button_print"></a>
			</li>
			<li>
				<a href="#" class="button_reset button_share"></a>
			</li>
		</ul>
		<button class="button_reset button_menu menu_show_js"></button>
	</div>
</header>
<div class="mob_menu">
	<div>
		<button class="button_reset button_close menu_hide_js"></button>
		<nav>
			<ul class="ul_reset nav_list">
				<li>
					<a href="#" class="nav_link">О застройщике</a>
				</li>
				<li>
					<a href="#" class="nav_link">Проекты</a>
				</li>
				<li>
					<a href="#" class="nav_link">Условия покупки</a>
				</li>
				<li>
					<a href="#" class="nav_link">Документы</a>
				</li>
				<li>
					<a href="#" class="nav_link">Контакты</a>
				</li>
				<li>
					<a href="#" class="nav_link">Планировки</a>
				</li>
				<li>
					<a href="#" class="nav_link">Закупки</a>
				</li>
			</ul>

			<button class="button_reset button_favorite">Избранное<span>1</span></button> <br>

			<a href="tel" class="phone_link">+7 (495) 125-21-79</a>

			<address class="address">
				Приморский край, город Владивосток, 
				Шахтовая улица, дом 40, квартира 2
			</address>

			<ul class="ul_reset soc_list">
				<li>
					<a href="#" class="soc_link fa" target="_blank" rel="nofollow"><span class="vis_hid">Facebook</span></a>
				</li>
				<li>
					<a href="#" class="soc_link in" target="_blank" rel="nofollow"><span class="vis_hid">Instagram</span></a>
				</li>
				<li>
					<a href="#" class="soc_link vk" target="_blank" rel="nofollow"><span class="vis_hid">Vk</span></a>
				</li>
				<li>
					<a href="#" class="soc_link yo" target="_blank" rel="nofollow"><span class="vis_hid">Youtube</span></a>
				</li>
			</ul>


		</nav>
	</div>
</div>