	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Title</title>
	<meta name="description" content="document">

	<meta name="viewport" content="width=device-width">

	<link rel="icon" href="images/favicon.png">
	<meta property="og:image" content="images/dist/preview.jpg">
	
	<link rel="stylesheet" href="css/main.min.css">