  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

  <script>
  	$( function() {

      const slider1 = $( "#slider-range1" ).slider({
        range: "min",
        value: 1200000,
        min: 500000,
        max: 12200000,
        slide: function( event, ui ) {
          $( "#amount1" ).val(ui.value );
        }
      });
      $( "#amount1" ).val($( "#slider-range1" ).slider( "value" ));

      const slider2 = $( "#slider-range2" ).slider({
        range: "min",
        value: 1200000,
        min: 500000,
        max: 12200000,
        slide: function( event, ui ) {
          $( "#amount2" ).val(ui.value );
        }
      });
      $( "#amount2" ).val($( "#slider-range2" ).slider( "value" ));

      const slider3 = $( "#slider-range3" ).slider({
        range: "min",
        value: 1200000,
        min: 500000,
        max: 12200000,
        slide: function( event, ui ) {
          $( "#amount3" ).val(ui.value );
        }
      });
      $( "#amount3" ).val($( "#slider-range3" ).slider( "value" ));
    });


//  +      " - $" + $( "#slider-range" ).slider( "values", 1 ) 

</script>
