  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

  <script>
  	$( function() {
  		$( "#slider-range1" ).slider({
  			range: true,
  			min: 500000,
  			max: 12200000,
  			values: [ 500000, 12200000 ],
  			slide: function( event, ui ) {
  				$( "#amount1" ).val(ui.values[0]);
  				$( "#amount2" ).val(ui.values[1]);
  			}
  		});
  		$( "#amount1" ).val($( "#slider-range1" ).slider( "values", 0 ));

  		$( "#slider-range2" ).slider({
  			range: true,
  			min: 28,
  			max: 120,
  			values: [ 28, 120 ],
  			slide: function( event, ui ) {
  				$( "#amount3" ).val(ui.values[0]);
  				$( "#amount4" ).val(ui.values[1]);
  			}
  		});
  		$( "#amount3" ).val($( "#slider-range2" ).slider( "values", 0 ));

  $( "#slider-range3" ).slider({
        range: true,
        min: 500000,
        max: 12200000,
        values: [ 500000, 12200000 ],
        slide: function( event, ui ) {
          $( "#amount5" ).val(ui.values[0]);
          $( "#amount6" ).val(ui.values[1]);
        }
      });
      $( "#amount5" ).val($( "#slider-range3" ).slider( "values", 0 ));

  $( "#slider-range4" ).slider({
        range: true,
        min: 28,
        max: 120,
        values: [ 28, 120 ],
        slide: function( event, ui ) {
          $( "#amount7" ).val(ui.values[0]);
          $( "#amount8" ).val(ui.values[1]);
        }
      });
      $( "#amount7" ).val($( "#slider-range4" ).slider( "values", 0 ));


  	} );




//  +      " - $" + $( "#slider-range" ).slider( "values", 1 ) 

</script>
