// USER VARIABLES SECTION

$ac: #B91A1A // Accent Color
$fontsize: 15px // Body Font Size
$textcolor: #000 // Text Color
$lineheight: 1.3 // Document Line Height
$userfont: nunito, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$tr: all .25s ease

//$rock: rockwell, sans-serif

@function a($num)
  @return $num * 0.7

// IMPORT SECTION

//@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
//@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites


@import '../../libs/normalize.css'
@import '/node_modules/swiper/swiper-bundle.min.css'
@import '../../libs/micromodal.css'


// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')


@include font('nunito', normal, 300, '../fonts/nunito/Nunito-Light.woff2')
@include font('nunito', normal, 400, '../fonts/nunito/Nunito-Regular.woff2')
@include font('nunito', normal, 600, '../fonts/nunito/Nunito-SemiBold.woff2')

@include font('nunito', normal, 800, '../fonts/nunito/Nunito-ExtraBold.woff2')


// @include font('mark', normal, 200, '../fonts/Mark-Thin.woff2')
// @include font('mark', normal, 300, '../fonts/Mark-Light.woff2')
// @include font('mark', normal, 400, '../fonts/Mark-Regular.woff2')
// @include font('mark', normal, 500, '../fonts/Mark-Medium.woff2')

// @include font('mark', normal, 800, '../fonts/Mark-Heavy.woff2')


// @include font('rockwell', normal, 400, '../fonts/rockwell/Rockwell-Regular.woff2')

// @include font('roboto-oh5', italic, 400, '../fonts/roboto-italic-webfont.woff2')
// @include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2')
// @include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $ac
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
	background: #f8f8f8
	letter-spacing: 0.5px
	max-width: 2000px
	margin: auto
*
	box-sizing: border-box

html
	overflow-x: hidden

.no_scroll
	overflow: hidden

a, button, label
	outline: none
	user-select: none

.container
	max-width: 600px
	padding-left: 16px
	padding-right: 16px
	margin: auto


.ul_reset
	list-style-type: none
	padding: 0
	margin: 0

.bg_reset
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

.button_reset
	background: none
	border: none
	cursor: default
	text-decoration: none
	text-align: left
	display: inline-block
	transition: $tr
	padding: 0
	color: #000

.link_all
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

/*Скрытие элементов для читалок*/
.vis_hid
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	clip: rect(0 0 0 0)
	overflow: hidden

.row
	display: flex
	flex-wrap: wrap
	margin-right: -10px
	margin-left: -10px
	position: relative

.col6
	position: relative
	width: 100%
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col6
	flex: 0 0 50%
	max-width: 50%

.fadeIn
	animation: fadeIn .25s 1



.row6
	margin-right: -6px
	margin-left: -6px
	>*
		padding-left: 6px
		padding-right: 6px

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

.fadeOut
	animation: fadeOut .25s 1

@keyframes fadeOut
	0%
		opacity: 1
	100%
		opacity: 0

@keyframes contact_wrap_1_show
	0%
		height: 217px
	50%
		height: 610px
	100%
		height: 600px

@keyframes contact_wrap_1_hide
	0%
		height: 600px
	50%
		height: 210px
	100%
		height: 217px

@keyframes contact_wrap_2_show
	0%
		height: 217px
	50%
		height: 605px
	100%
		height: 595px

@keyframes contact_wrap_2_hide
	0%
		height: 595px
	50%
		height: 210px
	100%
		height: 217px

@keyframes map_marker_hide
	0%
		top: 120px
	50%
		top: -110px
	100%
		top: -100px

@keyframes map_marker_show
	0%
		top: -100px
	50%
		top: 125px
	100%
		top: 120px


// .col1
// 	flex: 1 0 0



// .col362
// 	flex: 0 0 362px
// 	max-width: 362px

// .col375
// 	flex: 0 0 375px
// 	max-width: 375px

// .col500
// 	flex: 0 0 500px
// 	max-width: 500px

// .col476
// 	flex: 0 0 476px
// 	max-width: 476px



// .col3
// 	flex: 0 0 25%
// 	max-width: 25%

// .col9
// 	flex: 0 0 75%
// 	max-width: 75%

// .col7
// 	flex: 0 0 58.33%
// 	max-width: 58.33%

// .col5
// 	flex: 0 0 41.66%
// 	max-width: 41.66%

// .col4
// 	flex: 0 0 33.33%
// 	max-width: 33.33%

// .col8
// 	flex: 0 0 66.66%
// 	max-width: 66.66%

// .col40
// 	flex: 0 0 40%
// 	max-width: 40%

// .col30
// 	flex: 0 0 30%
// 	max-width: 30%

// .col70
// 	flex: 0 0 70%
// 	max-width: 70%

// .col60
// 	flex: 0 0 60%
// 	max-width: 60%

// @keyframes zoom
// 	0%
// 		opacity: 0
// 		transform: translate(0, 20%) scale(0.5)
// 	50%
// 		opacity: 1
// 		transform: translate(0, -1%) scale(1.05)
// 	100%
// 		opacity: 1
// 		transform: translate(0, 0) scale(1)


// .row_15
// 	margin-right: -15px
// 	margin-left: -15px
// 	>*
// 		padding-left: 15px
// 		padding-right: 15px

// .row_5
// 	margin-right: -5px
// 	margin-left: -5px
// 	>*
// 		padding-left: 5px
// 		padding-right: 5px



// @keyframes map_window_body_1
// 	0%
// 		height: 0
// 	50%
// 		height: 345px
// 	100%
// 		height: 340px

// @keyframes map_window_body_2
// 	0%
// 		height: 0
// 	50%
// 		height: 120px
// 	100%
// 		height: 115px


// @keyframes map_window_body_3
// 	0%
// 		height: 0
// 	50%
// 		height: a(345px)
// 	100%
// 		height: a(340px)

// @keyframes map_window_body_4
// 	0%
// 		height: 0
// 	50%
// 		height: a(120px)
// 	100%
// 		height: a(115px)


// @keyframes zoom
// 	0%
// 		opacity: 0
// 		transform: scale(0)
// 	50%
// 		opacity: 1
// 		transform: scale(1.1)
// 	100%
// 		opacity: 1
// 		transform: scale(1)


// @keyframes zoom_right
// 	0%
// 		transform: translate(-70%, 0) scale(0.5)
// 		opacity: 0
// 	50%
// 		transform: translate(2%, 0) scale(1)
// 		opacity: 1
// 	100%
// 		opacity: 1
// 		transform: translate(0, 0) scale(1)

// @keyframes bg_size
// 	0%
// 		transform: scale(1.5) translate(-10%, -10%)
// 	50%
// 		transform: scale(0.999) translate(1%, 1%)
// 	100%
// 		transform: scale(1) translate(0, 0)

// @keyframes right
// 	0%
// 		transform: translate(0, 0)
// 	50%
// 		transform: translate(103%, 0)
// 	100%
// 		transform: translate(100%, 0)

// @keyframes left
// 	0%
// 		transform: translate(100%, 0)
// 	50%
// 		transform: translate(-3%, 0)
// 	100%
// 		transform: translate(0%, 0)



// @keyframes rotateCart
// 	0%
// 		transform: rotateY(90deg)
// 		opacity: 0
// 	50%
// 		transform: rotateY(-10deg)
// 		opacity: 1
// 	100%
// 		transform: rotateY(0deg)
// 		opacity: 1