@media only screen and (max-width:370px)
	.team_prof
		font-size: 9px
	.project_prices:before
		width: 20px
		height: 20px
	.project_prices
		padding-left: 25px
	.price_item
		font-size: 10px
	.price_item>div span
		font-size: 22px

	.chioce_nav
		width: 100%
	.chioce_link
		font-size: 13px
		padding-left: 15px
	.choices_num
		font-size: 10px
	.choices_num.red div
		width: 60px
	.choices_num div
		font-size: 13px
		width: 33px
		height: 33px



