@use 'sass:math'
@use 'sass:color'
@import config
//@import 'blocks/**/*'



.section_second
	.section_title
		margin-bottom: 30px

.aside
	display: flex
	align-items: flex-start
	justify-content: flex-end
	flex-wrap: wrap
	overflow: hidden
	background: #fff
	height: 100%
	min-height: 1100px
	position: fixed
	top: 0
	left: 0
	width: 25%
	z-index: 2

.aside_container
	max-width: 273px
	flex: 0 0 273px
	padding-top: 45px
	padding-bottom: 68px

.logo
	display: flex
	align-items: center
	font-size: 17px
	text-decoration: none
	color: #000
	font-weight: 800
	text-transform: uppercase
	img
		width: 50px
		margin-right: 13px

.nav_list
	margin-top: 90px
	padding-bottom: 17px
	position: relative
	margin-bottom: 54px
	&:after
		content: ''
		width: 400%
		height: 1px
		background: #E0E0E0
		display: inline-block
		position: absolute
		left: -200%
		bottom: 0

	li
		margin-bottom: 40px

.nav_link
	font-size: 18px
	color: #000
	text-decoration: none
	display: flex
	flex-wrap: wrap
	align-items: center
	transition: color .25s ease
	&:before
		content: ''
		width: 5px
		height: 1px
		background: #000
		display: inline-block
		margin-right: 16px
		transition: $tr
	&:hover
		color: $ac
		&:before
			width: 46px
			background: $ac

.address_item
	margin-top: 41px
	background-repeat: no-repeat
	background-position: left 25px
	padding-left: 30px
	position: relative
	left: -5px

.address_title
	font-size: 12px
	margin-bottom: 8px

.address_text
	font-size: 13px
	color: #7E7E7E
	max-width: 160px

.address_item.type_1
	background-image: url(/images/icon/1.svg)

.address_item.type_2
	background-image: url(/images/icon/2.svg)

.address_phone
	margin-top: 40px
	background-repeat: no-repeat
	background-position: left 5px
	padding-left: 30px
	position: relative
	left: -5px
	background-image: url(/images/icon/3.svg)
	margin-bottom: 44px

.phone_link
	color: $ac
	font-size: 17px
	text-decoration: none

.link_call_back
	display: block
	font-size: 12px
	color: $ac
	white-space: nowrap

.soc_link
	width: 41px
	height: 41px
	border-radius: 100%
	border: 1px solid #CECECE
	display: block
	background-repeat: no-repeat
	background-position: center
	transition: background-color .25s ease
	&:hover
		background-color: $ac
		border-color: $ac


.soc_link.fa
	background-image: url(/images/soc/1.svg)
	&:hover
		background-image: url(/images/soc/11.svg)

.soc_link.in
	background-image: url(/images/soc/2.svg)
	&:hover
		background-image: url(/images/soc/22.svg)

.soc_link.vk
	background-image: url(/images/soc/3.svg)
	&:hover
		background-image: url(/images/soc/33.svg)

.soc_link.yo
	background-image: url(/images/soc/4.svg)
	&:hover
		background-image: url(/images/soc/44.svg)

.soc_list
	display: flex
	align-items: center
	li
		margin-left: 8px


.header
	padding: 50px 0
	.container
		display: flex
		align-items: center
		justify-content: space-between

.header_info
	display: flex
	align-items: center
	font-size: 12px
	background-image: url(/images/header_info.svg)
	padding: 13px 0
	padding-left: 60px
	background-repeat: no-repeat
	background-position: left top
	background-size: auto 100%


.header_nav
	display: flex
	align-items: center
	li
		position: relative
		padding-right: 30px
		padding-left: 23px
		&:before
			content: ''
			width: 1px
			height: 8px
			display: inline-block
			background: #C4C4C4
			position: absolute
			top: calc(50% - 4px)
			right: 0
		&:last-child
			&:before
				display: none
		&:first-child
			padding-right: 44px
			&:before
				display: none

.head_link
	font-size: 13px
	display: inline-block
	color: #000
	text-decoration: none
	height: 19px
	white-space: nowrap
	padding-left: 30px
	background-repeat: no-repeat
	background-position: left center
	background-size: auto 18px
	transition: color .25s ease
	&:hover
		color: $ac

.head_link.type_1
	background-image: url(/images/icon/4.svg)
	position: relative

.link_count
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	top: -7px
	left: 13px
	border: 3px solid #F8F8F8
	width: 17px
	height: 17px
	background: $ac
	border-radius: 100%
	font-size: 8px
	color: #fff

.head_link.type_2
	background-image: url(/images/icon/5.svg)

.head_link.type_3
	background-image: url(/images/icon/6.svg)

.head_link.type_4
	background-image: url(/images/icon/7.svg)


.home_section
	max-width: 1460px
	position: relative
	.how_much
		position: absolute
		top: 98px
		right: 187px

.home_slider
	.swiper-slide.swiper-slide-active
		.home_slide
			img
				width: 100%

.project_slider
	.swiper-slide.swiper-slide-active
		.home_slide
			img
				width: 100%


.home_slide
	height: 663px
	overflow: hidden
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		background: #716755
		opacity: .27
		z-index: 2
	img
		width: 120%
		position: absolute
		left: 0
		top: 50%
		transform: translate(0, -50%)
		transition: width 4s ease .5s

.home_title
	font-size: 17px
	position: absolute
	color: #fff
	top: 50px
	left: 76px
	z-index: 1
	span
		font-size: 45px
		font-weight: 800
		line-height: 57px
		display: block
		position: relative
		left: -30px
		margin-top: 10px

.project_title
	font-size: 23px
	position: absolute
	color: #fff
	top: 100px
	text-transform: uppercase
	left: 45px
	z-index: 1
	span
		display: block
		font-size: 45px
		font-weight: 800


.home_text
	font-size: 37px
	color: #fff
	position: absolute
	left: 44px
	bottom: 95px
	z-index: 2

.swiper_dots
	position: absolute
	left: 44px
	bottom: 33px
	z-index: 2
	padding: 10px 0
	border-radius: 10px
	background: rgba(#000, 0.2)
	backdrop-filter: blur(6px)
	display: flex
	align-items: center

.swiper-pagination-bullet
	width: 5px
	height: 5px
	opacity: 1
	margin: 0 17px
	background: #fff

.swiper-pagination-bullet.swiper-pagination-bullet-active
	background: $ac

.how_much
	width: 102px
	height: 102px
	border-radius: 100%
	background: $ac
	z-index: 2
	color: #fff
	display: flex
	align-items: center
	justify-content: center
	font-size: 12px
.how_much_inner
	width: 85px
	height: 85px
	border: 1.5px dashed #fff
	border-radius: 100%
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	span
		display: block
		font-size: 29px
		line-height: 1


.info_top
	padding: 19px 19px 19px 100px
	width: 563px
	display: flex
	border-bottom: 1px solid #D6D6D6
	position: absolute
	top: 0
	right: 0

.info_item
	margin-right: 37px
	font-size: 12px
	span
		font-size: 20px
		font-weight: 600
		color: $ac
		margin-right: 10px

.section_title
	font-size: 33px
	font-weight: 300
	margin: 0

.section_title.small
	font-size: 20px
	font-weight: 400

.findapart_section
	padding-top: 40px
	position: relative

.section_up
	display: flex
	align-items: flex-start
	justify-content: space-between
	flex-wrap: wrap

.section_top
	display: flex
	align-items: center
.tag
	font-size: 11px
	border: 1px solid #707070
	border-radius: 50px
	padding: 11px 20px
	margin-left: 20px

.input_name
	margin-bottom: 15px

.checkbox
	position: relative
	input
		visibility: hidden
		position: absolute
	input.error
		~label
			&:before
				border-color: red
	input
		&:checked
			~label
				&:before
					background: $ac
					border-color: $ac
	label
		font-size: 14px
		padding-left: 25px
		position: relative
		display: block

		cursor: pointer
		&:before
			content: ''
			width: 15px
			height: 15px
			display: inline-block
			border: 1px solid #aaa
			position: absolute
			top: 3px
			left: 0
		&:after
			content: ''
			display: inline-block
			width: 5px
			height: 10px
			border-right: 2px solid #fff
			border-bottom: 2px solid #fff
			position: absolute
			top: 4px
			transform: rotate(45deg)
			left: 5px

.form_checkbox_row
	display: flex
	align-items: center
	.form_checkbox_item
		margin-right: 11px

.form_checkbox
	margin-right: 107px

.form_checkbox_item
	input
		display: none
		&:checked
			~label
				background: $ac
				background-color: $ac
				color: #fff
	label
		width: 65px
		height: 59px
		border: 1px solid #CECECE
		background: #FFFFFF
		border-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer

		transition: $tr

.findapart_form
	padding-top: 30px
	display: flex
	flex-wrap: wrap
	align-items: flex-end

.input_block
	padding: 18px 0
	label
		font-size: 13px
	input
		border: none
		font-size: 13px
		&::placeholder
			color: #000

.form_inputs
	background: #fff
	border: 1px solid #CECECE
	border-radius: 5px

.form_inputs.area
	width: 222px
	display: flex
	input
		width: 35px
	.input_block
		flex: 1 0 0
		text-align: center
		&:first-child
			border-right: 1px solid #CECECE
.form_inputs.prices
	width: 315px
	display: flex
	input
		width: 80px
	.input_block
		flex: 1 0 0
		text-align: center
		&:first-child
			border-right: 1px solid #CECECE


.button
	background: $ac
	padding: 20px 44px
	border-radius: 5px
	color: #fff
	&:hover
		background: lighten($ac, 5%)
	&:active
		background: darken($ac, 5%)

.button[disabled]
	position: relative
	overflow: hidden
	cursor: default
	&:before
		content: ''
		display: inline-block
		background-image: url(/images/preloader.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: auto 70%
		background-color: rgba(#555, 0.6)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.about_section
	padding-top: 90px
	padding-bottom: 50px

.about_text
	font-size: 16px
	margin-top: 30px

.about_block
	padding-left: 220px
	padding-top: 26px
	background-image: url(/images/about.png)
	background-repeat: no-repeat
	background-position: 40px 30px
	background-size: 146px auto
	position: relative

.about_b
	font-size: 16px
	margin-bottom: 19px

.about_str
	font-size: 15px
	color: #959595
	margin-bottom: 14px
	span
		display: block
		color: #000
		margin-top: 8px
		margin-bottom: 15px

.about_str.line_bottom
	border-bottom: 1px solid #C1C1C1

.about_img
	width: 50px
	position: absolute
	top: 20px
	right: 0

.about_item
	height: 201px
	background: #fff
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
	border-radius: 5px
	background-repeat: no-repeat
	background-size: auto 40px
	display: flex
	align-items: center
	font-size: 13px
	color: #888888
	margin-bottom: 13px
	position: relative
	>div
		>span
			display: block
			font-size: 15px
			color: #000
			margin-top: 7px

.num
	font-size: 10px
	position: absolute
	top: 20px
	right: 23px



.about_item.type_1
	background-image: url(/images/about/1.svg)
	background-position: 50px center
	>div
		padding-left: 96px

.about_item.type_2
	background-image: url(/images/about/2.svg)
	background-position: 56px center
	>div
		padding-left: 120px

.about_item.type_3
	background-image: url(/images/about/3.svg)
	background-position: 58px center
	>div
		padding-left: 116px

.about_item.type_4
	background-image: url(/images/about/4.svg)
	background-position: 54px center
	>div
		padding-left: 116px

.about_item.type_5
	background-image: url(/images/about/5.svg)
	background-position: 50px center
	>div
		padding-left: 100px

.about_item.type_6
	background-image: url(/images/about/6.svg)
	background-position: 37px center
	>div
		padding-left: 96px

.about_item.type_7
	background-image: url(/images/about/7.svg)
	background-position: 38px center
	>div
		padding-left: 94px

.about_item.type_8
	background-image: url(/images/about/8.svg)
	background-position: 50px center
	>div
		padding-left: 120px

.about_item.type_9
	background-image: url(/images/about/9.svg)
	background-position: 40px center
	>div
		padding-left: 110px

.about_item.type_10
	background-image: url(/images/about/10.svg)
	background-position: 40px center
	background-size: 60px
	>div
		padding-left: 110px

.phone_big
	font-size: 15px
	display: flex
	align-items: center
	a
		color: #000
		font-size: 27px
		text-decoration: none
		display: block
		margin-left: 12px
		transition: color .25s ease
		&:hover
			color: $ac

.about_bottom
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-top: 30px
	p
		flex: 0 0 700px
		margin: 0

.about_right
	flex: 1 0 0
	font-size: 15px
	text-align: right
	.link_download
		margin-left: 25px

.link_download
	font-size: 15px
	color: #239BDB
	display: inline-block
	padding-right: 30px
	background-image: url(/images/icon/8.svg)
	background-repeat: no-repeat
	background-position: right center


.preloader
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background: #fff
	z-index: 10
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	transition: opacity 1s ease

.preloader_name
	font-size: 21px
	font-weight: 800
	text-transform: uppercase
	letter-spacing: 3px
	margin: 37px 0

.preloader_logo
	width: 163px
	height: 164px
	border-radius: 100%
	margin: auto
	position: relative
	overflow: hidden
	opacity: 0
	transition: $tr
	svg
		position: absolute
		top: 1px
		left: calc(50% + 2px)
		height: 100%
		transform: translate(-50%, 0)

#line1, #line2, #line3
	transition: all 4s ease

#line1
	transform: translate(40.5%, 0)
#line2
	transform: translate(-38%, 0)
#line3
	transform: translate(40%, 0)


.preloader_text
	font-size: 15px
	text-align: left
	max-width: 275px
	opacity: 0
	transition: opacity 6s ease
	span
		font-size: 36px
		font-weight: 300
		display: block
		letter-spacing: 2px

.preloader_line
	height: 1px
	width: 0
	background: #000
	margin-top: 6px
	transition: width 6s ease


.preloader_block
	transform: translate(0, 20%) scale(0.5)
	opacity: 0

.preloader_block.show
	animation: zoom 1s 1
	opacity: 1
	transform: translate(0, 0) scale(1)

.preloader_block.step_2
	.preloader_logo
		opacity: 1
	#line1, #line2, #line3
		transform: translate(0, 0)
	.preloader_text
		opacity: 1
	.preloader_line
		width: 105%

.company_section
	background-image: url(/images/about_bg.jpg)
	padding-bottom: 60px
	padding-top: 60px


.button_clear
	font-size: 16px
	border: 1px solid #000
	border-radius: 5px
	padding: 13px 20px
	min-width: 134px
	text-align: center
	&:hover
		background: #fff
		border-color: #fff

.company_button_block
	display: flex
	align-items: center
	padding-left: 28px
	margin-left: 28px
	position: relative
	&:before
		content: ''
		width: 1px
		height: 20px
		background: #000
		display: inline-block
		position: absolute
		left: 0
	.button_clear
		margin-right: 17px

.company_item
	padding-bottom: 70px
	border-bottom: 1px solid #BBD7E0
	margin-bottom: 60px
	font-size: 15px
	&:last-child
		border: none
	h3
		font-size: 27px
		font-weight: 300

.company_row
	margin-top: 153px

.team_item
	padding-top: 50px
	padding-left: 48px
	border-left: 1px solid #D3D3D3
	border-bottom: 1px solid #D3D3D3
	padding-bottom: 40px
	height: 465px

.team_img
	width: 244px
	height: 290px
	position: relative
	margin-left: 10px
	overflow: hidden
	&:before
		content: ''
		width: 100%
		height: 140px
		display: block
		background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #ffffff 90%)
		position: absolute
		bottom: -1px
		left: 0
	img
		width: 100%
		min-height: 100%

.about_page
	background: #fff

.team_name
	font-size: 20px
	font-weight: 300
	margin-top: 5px

.team_prof
	font-size: 15px
	font-weight: 300
	margin-top: 9px

.team_section
	border-left: 1px solid #D3D3D3
	border-right: 1px solid #D3D3D3
	max-width: 1270px

.team_name_big
	font-size: 25px
	font-weight: 300

.team_item_big
	display: flex
	align-items: center
	justify-content: space-between
	padding-top: 48px
	padding-right: 30px
	height: 465px
	border-bottom: 1px solid #D3D3D3

.team_item_mid
	height: 465px
	padding-top: 76px
	padding-left: 40px
	border-bottom: 1px solid #D3D3D3
	display: flex

.team_content_mid
	flex: 1 0 0

.team_content_big
	flex: 1 0 0
	max-width: 329px
	padding-left: 40px
	font-size: 12px
	.team_prof
		margin-bottom: 35px

.team_img_big
	width: 316px
	height: 403px
	position: relative
	&:before
		content: ''
		width: 100%
		height: 174px
		display: block
		background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #ffffff 80%)
		position: absolute
		bottom: -1px
		left: 0
	img
		width: 100%
		min-height: 100%

.team_img_mid
	width: 253px
	height: 300px
	position: relative
	&:before
		content: ''
		width: 100%
		height: 174px
		display: block
		background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #ffffff 80%)
		position: absolute
		bottom: -1px
		left: 0
	img
		width: 100%
		min-height: 100%


.slogan
	font-size: 29px
	font-weight: 300
	background-image: url(/images/icon/9.svg)
	background-repeat: no-repeat
	background-position: 0 center
	background-size: auto 55%
	padding-left: 170px
	margin: 56px 0

.partner_section
	max-width: 1270px
	padding-top: 20px
	.section_title
		margin-bottom: 58px

.partner_item
	text-align: center
	font-size: 13px
	height: 212px
	padding-top: 168px
	padding-bottom: 27px
	border-bottom: 1px solid #D3D3D3
	border-right: 1px solid #D3D3D3
	background-repeat: no-repeat
	background-position: center

.partner_row_1
	border-top: 1px solid #D3D3D3
	border-left: 1px solid #D3D3D3

.partner_row_2
	border-left: 1px solid #D3D3D3

.partner_item.type_1
	background-image: url(/images/partner/1.png)
	background-size: 217px auto

.partner_item.type_2
	background-image: url(/images/partner/2.png)
	background-size: 170px auto

.partner_item.type_3
	background-image: url(/images/partner/3.png)
	background-size: 103px auto

.partner_item.type_4
	background-image: url(/images/partner/4.png)
	background-size: 149px auto

.partner_item.type_5
	background-image: url(/images/partner/5.png)
	background-size: 208px auto

.partner_item.type_6
	background-image: url(/images/partner/6.png)
	background-size: 333px auto

.footer_row
	max-width: 1270px
	transform: translate(10px, 0)

.footer
	padding-top: 77px
	padding-bottom: 70px
	background: #fff
	padding-right: 10px
	.row
		align-items: flex-start

.footer_right
	border: 1px solid #DBDBDB
	width: 362px

.footer_str
	padding-top: 28px
	padding-bottom: 28px
	padding-left: 87px
	border-bottom: 1px solid #DBDBDB
	&:last-child
		border: none

.footer_str.type_2
	padding-top: 17px
	padding-bottom: 17px

.phone_str
	font-size: 11px
	position: relative
	a
		font-size: 15px
		color: #000
		text-decoration: none
		transition: color .25s ease
		&:hover
			color: $ac
	&:before
		content: ''
		width: 10px
		height: 10px
		display: inline-block
		background-image: url(/images/icon/10.svg)
		position: absolute
		top: calc(50% - 5px)
		left: -30px

.address_str
	address
		font-style: normal
		font-size: 13px
		max-width: 211px
		position: relative
		&:before
			content: ''
			width: 12px
			height: 11px
			display: inline-block
			background-image: url(/images/icon/11.svg)
			position: absolute
			top: calc(50% - 5px)
			left: -30px
.mail_str
	a
		font-size: 11px
		color: #239BDB
		position: relative
		display: block
		&:before
			content: ''
			width: 11px
			height: 9px
			display: inline-block
			background-image: url(/images/icon/12.svg)
			position: absolute
			top: calc(50% - 5px)
			left: -30px

.copy
	font-size: 13px
	max-width: 690px
	margin-top: 30px

.projects_section
	padding-top: 57px
	.section_title
		margin-bottom: 50px

.project_item
	border-radius: 5px
	overflow: hidden
	margin-bottom: 30px
	.how_much
		position: absolute
		top: 35px
		right: 35px

.project_img
	height: 481px
	position: relative
	overflow: hidden
	img
		min-width: 100%
		min-height: 100%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

.project_item
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
	background: #fff
	height: 728px

.project_content
	padding-top: 25px
	padding-left: 35px
	padding-right: 25px

.project_wrap
	display: flex
	align-items: flex-start
	justify-content: space-between

.num_info
	font-size: 12px
	color: #A5A5A5
	display: flex
	flex-wrap: wrap
	align-items: center
	div
		border: 1px solid #000000
		border-radius: 5px
		font-size: 20px
		padding: 5px
		color: #000

		min-width: 33px
		text-align: center
		margin-left: 11px

.project_str
	display: flex

.line_right
	position: relative
	margin-right: 15px
	padding-right: 17px
	&:before
		content: ''
		width: 1px
		height: 15px
		background: #AFAFAF
		display: inline-block
		position: absolute
		right: 0
		top: calc(50% - 7.5px)

.text_info
	display: flex
	align-items: center
	font-size: 12px
	color: #A5A5A5
	div
		color: #000
		margin-left: 14px
		position: relative
		top: -2px
		span
			font-size: 20px

.mt15
	margin-top: 15px

.project_b
	font-size: 12px
	padding-left: 10px

.project_name
	font-size: 20px
	font-weight: 300
	margin-top: 5px
	a
		text-decoration: none
		color: #000

.noUi-target.slider_line .noUi-connects
	background: #cecece

.noUi-target.slider_line .noUi-connect
	background: #b91a1a


.noUi-target.slider_line
	width: calc(100% - 14px)
	position: absolute
	left: 7px
	height: 1px
	bottom: 0
	background: #ddd
	border: none!important
	.noUi-connects
		background: #cecece
	.noUi-connect
		background: #b91a1a
	.noUi-handle
		border-radius: 100px
		background: #b91a1a
		border: none
		box-shadow: none
		width: 14px
		height: 14px
		top: -6px
		cursor: pointer
		outline: 0
		left: 12px
	.noUi-handle:after, .noUi-handle:before
		display: none
.slider_search_app.noUi-target.slider_line
	bottom: -16px
.noUi-handle
	right: -7px
	left: auto

.project_address
	font-size: 14px
	font-style: normal
	max-width: 250px
	padding-left: 5px
	position: relative
	margin-top: 10px
	&:before
		content: ''
		display: inline-block
		width: 15px
		height: 15px
		background-image: url(/images/icon/1.svg)
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		top: 0
		left: -20px

.button_line
	font-size: 11px
	border: 1px solid #707070
	padding: 12px 20px
	border-radius: 24px
	transition: $tr
	&:hover
		color: $ac
		border-color: $ac

.button_line.type_2
	border-radius: 5px

.project_bottom
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 25px

.project_prices.type_1
	top: 0
	margin-left: 45px

.project_prices
	display: flex
	align-items: center
	position: relative
	top: -10px
	&:before
		content: ''
		width: 31px
		height: 31px
		border-radius: 100%
		background-image: url(/images/icon/13.svg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		position: absolute
		top: calc(50% - 5px)
		left: -45px

.price_item
	display: flex
	align-items: flex-end
	font-size: 12px
	>span
		color: #A5A5A5
		margin-right: 9px
	>div
		color: $ac
		margin-left: 6px
		position: relative
		top: 4px
		span
			font-size: 29px

.price_item.line_right
	&:before
		top: auto
		bottom: 2px

.project_r
	display: flex
	justify-content: space-between
	align-items: flex-start
	margin-top: 13px
.aside.type_2
	.nav_list
		margin-bottom: 450px
		&:after
			display: none



.header_contact
	display: flex
	align-items: center
	flex-wrap: wrap
	flex: 0 0 466px
	.address_phone
		margin: 0
		width: 200px
	address
		color: #7E7E7E
		font-style: normal
		font-size: 11px
		max-width: 220px
		margin-right: 30px


.form_prices, .form_area
	position: relative
	margin-right: 30px

.ui-slider.slider_line
	width: calc(100% - 14px)
	position: absolute
	bottom: -18px
	left: 7px
	height: 1px
	background: #ddd
	border: none !important

	.noUi-handle
		border-radius: 100px
		background: $ac
		border: none
		width: 14px
		height: 14px
		top: -6px
		cursor: pointer
		box-shadow: none
		outline: none
		left: 12px

.noUi-target.slider_line .noUi-handle:after, .noUi-handle:before
	display: none

.slider_search_app.noUi-target.slider_line 
	bottom: -16px

.slider_search_app.noUi-target.slider_line .noUi-handle
	right: -7px
	left: auto


.first_section
	padding-top: 57px
	.section_title
		margin-bottom: 51px

.tab_item
	input
		display: none
		&:checked
			~label
				border-color: $ac
				color: $ac
	label
		display: block
		text-align: center
		cursor: pointer
		border: 1px solid #C6C6C6
		border-radius: 5px
		padding: 29px 3px
		white-space: nowrap
		transition: $tr
		font-size: 15px


.document_row
	margin-left: -20px
	margin-right: -20px
	margin-top: 60px
	margin-bottom: 50px
	>*
		padding-left: 20px
		padding-right: 20px

.document_item
	position: relative
	margin-bottom: 60px

.document_title
	font-size: 16px
	margin-bottom: 15px
	display: flex
	align-items: flex-end
	span
		display: block

.document_icon
	background-image: url(/images/icon/14.svg)
	background-repeat: no-repeat
	background-position: center
	background-size: 88px auto
	background-color: #fff
	border-radius: 5px
	height: 260px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)

.document_bottom
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 17px




.container_document
	max-width: 1050px
	padding-left: 44px

.term_item
	background-color: #fff
	border-radius: 5px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)
	padding: 45px
	position: relative
	min-height: 587px
	margin-bottom: 19px
	display: flex
	align-items: center
	justify-content: center
	background-image: url(/images/term/bg.svg)
	background-repeat: no-repeat
	background-position: right calc(100% - 54px)
	>div
		background-repeat: no-repeat
		background-position: 0 center
		padding-left: 320px
		max-width: 990px
	p
		font-size: 14px

.term_content
	max-width: 460px
	padding-bottom: 35px
	h2
		font-size: 23px
		font-weight: 300
		margin-bottom: 22px
	h3
		font-size: 16px
		font-weight: 300
	ul
		list-style-type: none
		font-weight: 600
		font-size: 14px
		padding: 0
		margin: 0
		margin-top: 20px
	li
		margin-bottom: 10px
		position: relative
		&:before
			content: ''
			width: 3px
			height: 3px
			border-radius: 100%
			background: #000
			display: inline-block
			position: absolute
			left: -15px
			top: 6px


.term_item_num
	width: 38px
	height: 55px
	background: $ac
	color: #fff
	font-size: 17px
	font-weight: 500
	position: absolute
	top: 0
	right: 53px
	display: flex
	align-items: center
	justify-content: center
	clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%)

.item_block
	background: #fff
	border-radius: 5px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)



.calculation
	padding: 34px 46px 34px
	height: 561px
	.button
		width: 293px
		text-align: center
	h2
		font-size: 21px
		font-weight: 300
		margin: 0
		padding-bottom: 27px
		border-bottom: 1px solid #E0E0E0

.creditadv_item
	padding: 48px 45px 30px
	height: 194px
	p
		font-size: 15px
		margin: 0

.creditadv_head
	font-size: 18px
	margin-bottom: 5px
	margin-top: 10px

.creditadv_icon
	background-repeat: no-repeat
	background-position: center
	background-size: 100%

.creditadv_icon.type_1
	background-image: url(/images/creditadv/1.svg)
	width: 48px
	height: 40px

.creditadv_icon.type_2
	background-image: url(/images/creditadv/2.svg)
	width: 53px
	height: 38px

.creditadv_icon.type_3
	background-image: url(/images/creditadv/3.svg)
	width: 31px
	height: 40px

.creditadv_icon.type_4
	background-image: url(/images/creditadv/4.svg)
	height: 40px
	width: 30px

.creditadv_section
	padding-top: 35px
	padding-bottom: 35px
	h2
		font-size: 21px
		font-weight: 300
		margin-bottom: 30px

.creditadv_text
	font-size: 16px
	font-weight: 300
	max-width: 750px
	margin: 40px 0

.calculation_inputs
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 30px
	padding-bottom: 50px
	border-bottom: 1px dashed #E6E6E6

.calculation_input
	flex: 0 0 210px
	position: relative
	.ui-slider.slider_line
		bottom: 0px
	.input_block
		border-radius: 5px
		border: 1px solid #CECECE
		padding: 20px 0
		padding-left: 40px
		span
			font-size: 13px
			color: #8D8D8D
		input
			width: 76px
			margin-right: 0
			font-size: 13px
			padding-left: 8px


.calculation_input.type_2
	.input_block
		display: flex
		padding-left: 70px
		position: relative
	.input_procent
		color: $ac
		font-size: 13px
		padding: 0 12px
		border-right: 1px solid #CECECE
		height: 100%
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		top: 0
		left: 0

.calculation_input.type_3
	.input_block
		justify-content: space-between
		display: flex
		align-items: center
		padding-left: 23px
		padding-right: 23px
	input
		text-align: center

.calculation_selects
	margin-top: 43px
	display: flex
	justify-content: space-between
	margin-bottom: 37px

.calculation_select
	width: 331px


.select
	position: relative
	input
		background-color: #fff
		border: 1px solid #CECECE
		background-image: url(/images/icon/15.svg)
		border-radius: 5px
		font-size: 13px
		padding: 21px
		width: 100%
		background-repeat: no-repeat
		background-position: calc(100% - 25px) center
		cursor: pointer
.select_list
	box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.2)
	border-radius: 5px
	background: #f8f8f8
	position: absolute
	left: 0
	width: 100%
	top: 60px
	display: none
	li
		font-size: 14px
		border-bottom: 1px solid #D6D6D6
		padding: 20px 21px
		cursor: pointer
		&:last-child
			border: none

.select_list.show
	display: block

.bank_offers
	padding: 46px
	height: 274px
	margin-bottom: 14px

.bank_offers_logo
	max-width: 201px
	border-bottom: 1px solid #E0E0E0
	padding-bottom: 27px

.bank_offers_logo.type_1
	img
		width: 122px

.bank_offers_logo.type_2
	img
		width: 61px

.bank_offers_table
	font-size: 14px
	color: #A0A0A0
	width: 100%
	tr
		display: flex
		padding: 8px 8px 14px 16px
		position: relative
		&:before
			content: ''
			width: 201px
			height: 1px
			background: #E0E0E0
			display: block
			position: absolute
			left: 0
			bottom: 0
		&:last-child
			&:before
				display: none
	td
		&:last-child
			color: #000
			flex: 0 0 40%
		&:first-child
			flex: 0 0 60%
			text-align: right
			padding-right: 20px

		span
			color: $ac


.contact_item
	height: 550px
	position: relative
	overflow: hidden

.map
	position: absolute
	top: 0
	left: 0
	width: 1500px
	height: 100%
	background-repeat: no-repeat
	background-size: 100% 100%
	transform: scale(1.5) translate(-10%, -10%)

.contact_item.type_1
	border-bottom: 1px solid #C9C9C9
	.map
		background-image: url(/images/map/1.jpg)

.contact_item.type_2
	.map
		background-image: url(/images/map/2.jpg)
	.map_window
		z-index: 2

.map_marker
	width: 60.5px
	height: 74px
	background-image: url(/images/icon/16.svg)
	background-repeat: no-repeat
	background-size: 100%
	position: absolute
	left: 750px
	top: 153px

.map_window
	width: 330px
	position: absolute
	top: 42px
	left: 42px
	padding: 30px 0 0

.map_window_head
	font-size: 14px
	padding-left: 46px
	border-bottom: 1px solid #E6E6E6
	padding-bottom: 32px
	
	span
		display: block
		font-size: 16px
		margin-top: 5px

.mess_list
	display: flex
	align-items: center
	padding-left: 43px
	margin-top: 13px
	margin-bottom: 20px
	li
		margin-right: 13px

.mess_link
	display: inline-block
	width: 30px
	height: 30px
	background-repeat: no-repeat
	background-position: center
	background-size: cover

.mess_link.tel
	background-image: url(/images/mess/1.svg)

.mess_link.wha
	background-image: url(/images/mess/2.svg)

.map_window_str
	font-size: 15px
	padding-left: 45px
	padding-right: 29px
	margin-top: 26px
	position: relative
	&:before
		content: ''
		display: inline-block
		background-repeat: no-repeat
		background-size: 100%
		background-position: center
		position: absolute
		top: 0
		left: 20px

.map_window_str.address
	&:before
		background-image: url(/images/icon/11.svg)
		width: 17px
		height: 15px

.map_window_str.time
	border-bottom: 1px solid #E6E6E6
	padding-bottom: 24px
	&:before
		background-image: url(/images/icon/17.svg)
		width: 16.3px
		height: 16.3px

.map_window_str.phone
	&:before
		background-image: url(/images/icon/18.svg)
		width: 14.3px
		height: 14.3px
	a
		font-size: 16px
		text-decoration: none
		color: #000
		line-height: 1

.map_window_str.mail
	border-top: 1px solid #E6E6E6
	padding-top: 24px
	padding-bottom: 35px
	&:before
		background-image: url(/images/icon/12.svg)
		width: 16px
		height: 12.8px
		top: 25px
	a
		color: #239BDB

.map_window_str.object
	margin-top: 28px
	margin-bottom: 45px
	&:before
		background-image: url(/images/icon/1.svg)
		width: 15px
		height: 15px

.contact_item.type_2
	.map_window_head
		padding-top: 15px
		padding-bottom: 25px

.map_icons
	position: absolute
	left: 383px
	top: 42px
	width: 235px

.map_icons_head
	border-bottom: 1px solid #E8E8E8
	padding: 20px 33px 20px
	font-size: 15px

.map_icons_list
	padding-left: 33px
	padding-top: 21px
	padding-bottom: 15px
	li
		padding-left: 30px
		background-repeat: no-repeat
		font-size: 16px
		color: #7C7C7C
		margin-bottom: 16px
		background-size: auto 100%
	li.type_1
		background-image: url(/images/map_icons/1.svg)
	li.type_2
		background-image: url(/images/map_icons/2.svg)
	li.type_3
		background-image: url(/images/map_icons/3.svg)
	li.type_4
		background-image: url(/images/map_icons/4.svg)
	li.type_5
		background-image: url(/images/map_icons/5.svg)

.map_bg
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-image: url(/images/icons.svg)
	background-repeat: no-repeat
	background-size: auto 100%

.map_marker_2
	background-image: url(/images/icon/19.svg)
	width: 60px
	height: 74px
	position: absolute
	top: 200px
	left: 840px

.map_window_body_1
	height: 0px
	overflow: hidden

.map_marker, .map_marker_2
	opacity: 0
	transform: scale(0)

.map_bg
	opacity: 0
	transition: opacity 1s ease

.map_window_body_2
	height: 0
	overflow: hidden

.map_icons
	transform: translate(-70%, 0) scale(0.5)
	opacity: 0

.contact_section.show
	.map
		animation: bg_size 1s 1
		transform: scale(1) translate(0, 0)

	.map_icons
		animation: zoom_right 1s 1
		opacity: 1
		transform: translate(0, 0) scale(1)
	.map_window_body_1
		animation: map_window_body_1 1s 1
		height: 380px
	.map_window_body_2
		animation: map_window_body_2 1s 1
		height: 115px

	.map_marker, .map_marker_2
		opacity: 1
		animation: zoom 1s 1
		transform: scale(1)

	.map_bg
		opacity: 1

.chioce_nav
	width: 344px
	height: 66px
	border: 1px solid #CBCBCB
	border-radius: 5px
	background: #fff
	display: flex


.chioce_link
	flex: 1 0 0
	padding-left: 21px
	font-size: 15px
	display: flex
	align-items: center
	color: #000
	text-decoration: none
	&:first-child
		border-right: 1px solid #CECECE
	&:after
		content: ''
		display: block
		width: 12px
		height: 12px
		border-radius: 100%
		box-shadow: 0px 0px 0px 1px #B5B5B5
		margin-left: 15px
		border: 4px solid #fff

.chioce_link.active
	&:after
		background: $ac
		box-shadow: 0px 0px 0px 1px $ac

.choices_section
	.chioce_nav
		margin-bottom: 50px

.choices_row
	margin-top: 60px

.choices_item
	padding: 35px 38px 40px
	position: relative
	margin-bottom: 24px
	transition: $tr
	&:hover
		padding-left: 30px
		padding-right: 30px
		transform: scale(1.03, 1.03) translate(2%, -2%)

.choices_top
	border-bottom: 1px solid #DBDBDB
	padding-bottom: 18px
	display: flex
	align-items: center
	justify-content: space-between
	h2
		font-size: 14px
		font-weight: 400
		margin: 0

.choices_area
	font-size: 13px
	color: #B1AEAE
	display: flex
	align-items: center
	span
		border: 1px solid $ac
		border-radius: 5px
		font-size: 13px
		color: $ac
		padding: 4px 10px
		display: block
		margin-left: 10px

.choices_center
	padding-top: 13px
	display: flex
	align-items: center
	justify-content: space-between
	font-weight: 300

.choices_price
	font-size: 16px
	color: #B1AEAE
	span
		color: $ac
		font-weight: 600


.choices_img
	height: 274px
	margin-top: 40px
	margin-bottom: 30px
	text-align: center
	img
		height: 100%

.choices_nums
	display: flex


.choices_num
	font-size: 13px
	color: #969696
	display: flex
	align-items: center
	margin-right: 18px
	div
		font-size: 15px
		color: #000
		border: 1px solid #000
		border-radius: 5px
		width: 39px
		height: 39px
		display: flex
		align-items: center
		justify-content: center
		margin-left: 8px

.button_back
	font-size: 12px
	border: 1px solid #BFBFBF
	border-radius: 5px
	padding: 15px 35px 13px 40px
	background-image: url(/images/icon/20.svg)
	background-repeat: no-repeat
	background-position: 25px 52%
	&:hover
		color: $ac
		border-color: $ac

.section_left
	display: flex
	align-items: center
	margin-bottom: 50px
	.button_back
		margin-right: 24px
	.section_title
		margin-bottom: 0

.chioce_progr
	width: 323px
	display: flex
	align-items: center
	justify-content: space-between
	font-size: 13px
	margin: auto
	position: relative
	margin-top: -50px

.chioce_progr_left
	display: flex
	align-items: center
	justify-content: flex-start
	div
		color: $ac
		font-size: 18px
		margin-left: 3px
		span
			font-size: 13px
			margin-left: 3px

.chioce_progr_right
	display: flex
	align-items: center
	justify-content: flex-end
	div
		color: #509A06
		font-size: 18px
		margin-left: 3px
		span
			font-size: 13px
			margin-left: 3px

.chioce_line
	height: 4px
	width: 100%
	background: #509A06
	border-radius: 6px
	position: absolute
	bottom: -10px
	left: 0
	overflow: hidden
	span
		display: block
		background: $ac
		height: 100%
		position: absolute
		top: 0
		left: 0


.house_top, .house_center, .house_bottom
	width: 1350px
	margin: auto
	img
		width: 100%
	
.house_center
	display: flex
	position: relative


.house_info
	position: absolute
	top: 50%
	left: 0
	z-index: 5
	padding-top: 3px
	padding-right: 7.5px
	background: rgba(#3E3E3E, 0.9)
	height: 72px
	display: flex
	align-items: center
	justify-content: flex-end
	width: 100%
	opacity: 0
	transform: translate(0, -50%)
	div
		color: #fff
		font-size: 14px
		font-weight: 400
		margin-right: 30px
		span
			font-weight: 700
			font-size: 41px
	.button
		font-size: 14px
		padding: 19px 70px 21px

.house_str
	&:hover
		.house_info
			opacity: 1

.house_str
	margin-top: -10px
	cursor: pointer
	position: relative
	background: #f8f8f8
	&:nth-child(7)
		z-index: 2
	&:nth-child(6)
		z-index: 3
	&:nth-child(5)
		z-index: 4
	&:nth-child(4)
		z-index: 5
	&:nth-child(3)
		z-index: 6
	&:nth-child(2)
		z-index: 7
	&:nth-child(1)
		z-index: 8

.house_str.hover
	.house_info
		opacity: 1
	.house_num
		border-color: $ac
		color: $ac


.house_num
	width: 45px
	font-size: 14px
	height: 45px
	display: flex
	align-items: center
	justify-content: center
	background: #fff
	border: 1px solid #CBCBCB
	border-radius: 5px
	position: absolute
	left: -90px
	top: calc(50% - 22.5px)
	cursor: default

.house_bottom
	margin-top: -63px
	position: relative
	z-index: 1


.house_right
	.house_num
		left: auto
		right: -90px

.house_sect
	margin-top: 35px
	display: flex

.house_sect_left
	border-right: 1px solid #C9C9C9

.house_sect_left, .house_sect_right
	flex: 0 0 50%
	display: flex
	align-items: center
	justify-content: center
	height: 83px

.sect_num
	text-align: center
	font-size: 12px
	color: $ac
	width: 50px
	span
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid $ac
		color: $ac
		width: 38px
		height: 38px
		border-radius: 5px
		font-size: 19px
		margin: auto
		margin-bottom: 4px

.house_bd
	border-bottom: 1px solid #9F9E9E
	position: relative
	top: -5px

.house_section
	background: url(/images/house/5.svg) 100% 99% no-repeat, url(/images/house/6.svg) 0% 99% no-repeat
	overflow: hidden

.apartment_aside
	background: #fff
	padding: 64px 55px 66px 42px
	border-left: 1px solid #B9B9B9

.apartment_str
	display: flex
	align-items: flex-start
	border-bottom: 1px solid #B9B9B9
	padding-bottom: 23px
	margin-bottom: 16px
	>div
		flex: 0 0 50%
	span
		display: inline-flex
		border: 1px solid #000
		justify-content: center
		padding: 10px 25px
		border-radius: 5px
		font-size: 27px
		margin-top: 11px
		sup
			position: relative
			top: 5px
			font-size: 16px
	span.red
		color: $ac
		border-color: $ac
		width: 100%

.apartment_b
	font-size: 15px
	color: #919191
	margin-bottom: 5px

.apartment_str_l
	font-size: 27px
.apartment_str_r
	font-size: 19px
	.apartment_b
		margin-bottom: 5px

.apartment_p
	font-size: 22px
	color: $ac
	span
		font-size: 31px

.apartment_price
	margin-bottom: 19px

.apartment_title
	font-size: 13px
	font-weight: 400
	margin: 153px 0 25px
	span
		font-size: 19px
		font-weight: 300

.mortgage_str
	margin-top: 270px
	margin-bottom: 30px
	height: 22px
	font-size: 13px
	padding-left: 37px
	background-image: url(/images/icon/21.svg)
	background-repeat: no-repeat
	background-position: left center
	background-size: auto 100%
	display: flex
	align-items: center
	span
		color: $ac
		margin-left: 6px

.button_silver
	font-size: 14px
	color: #747474
	border: 1px solid #747474
	border-radius: 5px
	padding: 18px 91px 22px 74px
	&:hover
		color: $ac
		border-color: $ac

.apartment_right
	padding-top: 27px
	padding-left: 70px

.apartment_day
	width: 440px

.apartment_img
	height: 630px
	margin-top: 50px
	margin-bottom: 27px
	img
		height: 100%

.action_list
	display: flex
	align-items: center
	li
		margin-right: 37px

.action_link
	display: inline-block
	font-size: 15px
	text-decoration: none
	color: #919191
	padding-left: 25px
	background-repeat: no-repeat
	background-position: left center
	background-size: auto 100%
	transition: color .25s ease
	&:hover
		color: $ac

.action_link.like
	background-image: url(/images/action/1.svg)

.action_link.print
	background-image: url(/images/action/2.svg)

.action_link.sharing
	background-image: url(/images/action/3.svg)

.compas
	background-image: url(/images/icon/22.svg)
	width: 98px
	height: 98px
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.min_house
	width: 330px
	height: 169px
	background-image: url(/images/icon/23.svg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	position: relative
	top: 35px

#house_left, #house_right
	cursor: pointer

.min_house_bg
	height: 17px
	width: 50%
	background: red
	opacity: 0.4
	position: absolute
	left: 0

.min_house.right
	.min_house_bg
		animation: right 0.7s 1
		transform: translate(100%)

.min_house.left
	.min_house_bg
		animation: left 0.7s 1
		transform: translate(0)


.apart_info
	display: flex
	align-items: center
	justify-content: flex-end
	margin-right: 160px

.apart_info_item
	font-size: 19px
	display: flex
	align-items: center
	margin-right: 19px
	span
		display: flex
		align-items: center
		justify-content: center
		width: 39px
		height: 39px
		border: 1px solid #000000
		border-radius: 5px
		margin-left: 12px

.apart_info_item.red
	color: $ac
	span
		border-color: $ac

.apart_sheme
	width: 1160px
	overflow: hidden
	height: 686px
	margin-top: 38px
	margin-left: 20px

.apart_sheme_row
	height: 100%
	width: 2160px
	display: flex
	align-items: center
	justify-content: space-between
	transform: translate(-50%)

.apart_sheme_row.left
	animation: left2 0.7s 1
	transform: translate(0%)


.apart_sheme_row.right
	animation: right2 0.7s 1
	transform: translate(-50%)

.apart_sheme_item
	height: 100%
	width: 1060px
	position: relative

.apart_sheme_6
	img
		width: 100%
.apart_sheme_1, .apart_sheme_3, .apart_sheme_4, .apart_sheme_5, .apart_sheme_2, .apart_sheme_7
	position: absolute
	img
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		opacity: 0
		transition: opacity .25s ease
		&:first-child
			opacity: 1
	&:hover
		img
			&:first-child
				opacity: 0
			&:nth-child(2)
				opacity: 1
.buy
	img
		&:first-child
			opacity: 0
		&:nth-child(2)
			opacity: 0
		&:nth-child(3)
			opacity: 1
.dis
	img
		&:first-child
			opacity: 0
		&:nth-child(2)
			opacity: 0
		&:nth-child(3)
			opacity: 0
		&:nth-child(4)
			opacity: 1


.apart_sheme_1
	top: 0
	left: 0
	width: 25.3%
	height: 50%

.apart_sheme_2
	top: 0
	left: 24.5%
	width: 25.5%
	height: 50%

.apart_sheme_3
	top: 0
	right: 24.5%
	width: 25.5%
	height: 50%

.apart_sheme_4
	top: 0
	right: 0
	width: 25.5%
	height: 50%

.apart_sheme_5
	width: 38%
	height: 54%
	bottom: 2%
	left: 0

.apart_sheme_6
	position: absolute
	bottom: 11.9%
	left: 37%
	width: 27.4%
	height: 34%

.apart_sheme_7
	width: 38%
	height: 54%
	bottom: 2%
	right: 0

.apart_svg
	width: 440px
	height: 255px


// .choices_popup
// 	width: 661px
// 	height: 534px
// 	position: absolute
// 	padding: 24px
// 	z-index: 10000
// 	top: 50%
// 	transform: translate(0, -30%)
// 	left: 48%
// 	box-shadow: 0 0 20px 0 rgba(#000, 0.3)
// 	display: none

// .choices_popup.show
// 	display: block !important

// .choices_popup.right
// 	left: auto
// 	right: 50%

.modal_house.modal
	.modal__container
		max-width: 711px
		padding-bottom: 50px
	.modal__close
		right: 20px
		top: 20px

.choices_popup_sheme
	width: 535px
	height: 350px
	position: relative
	margin: auto
	margin-top: 34px


.choices_popup_top
	display: flex
	align-items: center
	justify-content: flex-end
	div.red
		color: $ac
		span
			background: $ac
	div
		display: flex
		align-items: center
		font-size: 11px
		margin-left: 16px
		span
			display: flex
			align-items: center
			justify-content: center
			width: 34px
			height: 34px
			color: #fff
			background: #000
			border-radius: 5px
			margin-left: 12px

.button_link
	font-size: 14px
	color: $ac
	border: 1px solid $ac
	border-radius: 5px
	padding: 15px 0 15px
	padding-left: 15px
	width: 150px
	display: block
	text-align: center
	background-image: url(/images/icon/24.svg)
	background-repeat: no-repeat
	background-position: 10px center
	margin: 27px auto 0


.modal
	position: relative
	z-index: 10000
	.modal__container
		width: 100%
		max-width: 954px
		padding: 56px
		position: relative
		padding-bottom: 165px
		border-radius: 5px

.modal_block
	width: 100%
	max-width: 512px
	margin: auto
	margin-top: 85px
	.button_silver
		width: 100%
		text-align: center
		font-size: 18px
		padding: 22px

.modal_title
	font-size: 33px
	font-weight: 300
	font-family: $userfont
	margin-bottom: 50px

.modal__close
	position: absolute
	top: 30px
	right: 30px
	cursor: pointer

.form_str
	margin-bottom: 33px
	input
		width: 100%
		border: none
		border-bottom: 1px solid #BEBEBE
		padding-bottom: 20px
		font-size: 15px

input.error
	border-color: red



.about_title
	font-size: 20px
	font-weight: 300
	margin-top: 33px
	margin-bottom: 20px

.about_col
	background-repeat: no-repeat
	background-position: 0 18px
	font-size: 15px
	font-weight: 600
	padding: 18px 0
	padding-left: 40px

.about_row
	border-bottom: 1px solid #D0D0D0
	max-width: 687px
	&:last-child
		border-bottom: none
		margin-bottom: 30px

.about_text.left
	padding-right: 60px
	border-right: 1px solid #D0D0D0

.about_text.right
	padding-left: 60px

.about_container
	margin-top: 30px
	margin-bottom: 40px
	.section_title
		margin-bottom: 40px

.credit_radios
	padding-top: 46px
	padding-bottom: 40px
	h2
		border: none

.radiobutton_block
	padding: 0 10px
	position: relative
	input
		position: absolute
		visibility: hidden
		&:checked
			~label
				&:before
					background: $ac
	label
		font-size: 14px
		cursor: pointer
		display: flex
		align-items: center
		&:before
			content: ''
			display: block
			transition: $tr
			width: 12px
			height: 12px
			border-radius: 100%
			box-shadow: 0 0 0 1px #b5b5b5
			border: 3px solid #fff
			margin-right: 10px


.credit_steps
	padding-top: 50px
	.section_title
		margin-bottom: 0

.credit_steps_item
	padding: 50px 0 70px
	div
		max-width: 315px
		height: 115px
		padding-left: 138px
		display: flex
		align-items: center
		margin: auto
		background-repeat: no-repeat
		background-position: 0 center
		background-size: 110px 100%
		font-size: 13px
		line-height: 15px
		position: relative
	span
		font-size: 34px
		font-weight: 600
		position: absolute
		top: -20px
		left: -60px
.credit_steps_item.border
	border-right: 1px solid #D5D5D5

.credit_steps_item.line
	&:before
		content: ''
		width: 92px
		height: 1px
		background: #D5D5D5
		display: inline-block
		position: absolute
		bottom: 0px
		right: -46px

.credit_steps_row
	margin-top: 60px

.progress_block
	border-radius: 5px
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
	background: #fff
	margin-bottom: 50px
	.section_title
		margin-bottom: 40px

.progress_top
	padding: 36px 33px 42px
	border-bottom: 1px solid #E0E0E0


.progress_years
	border-radius: 8px
	background: #F8F8F8
	padding: 16px 16px 50px

.progress_num
	color: $ac
	border: 2px solid $ac
	font-size: 18px
	border-radius: 5px
	display: inline-block
	padding: 4px 10px

.progress_slider
	overflow: hidden
	.swiper-slide
		padding: 0 20px

.progress_slider_data
	font-size: 10px
	border: 1px solid #ADADAD
	border-radius: 5px
	display: inline-block
	text-align: center
	width: 60px
	padding: 4px 0
	margin-bottom: 29px
	div
		font-size: 14px
		border-bottom: 1px solid #ADADAD
		margin-bottom: 4px

.progress_slider_big
	display: block
	border-radius: 5px
	overflow: hidden
	position: relative
	box-shadow: 0px 10px 13px -10px #555, 5px 5px 15px 5px rgba(0,0,0,0)
	img
		width: 100%
		display: block
	&:before
		content: ''
		width: 22px
		height: 22px
		background-image: url(../images/icon/26.svg)
		background-repeat: no-repeat
		background-position: center
		display: inline-block
		position: absolute
		top: 6px
		left: 10px

.progress_months
	display: flex
	align-items: center
	align-items: center
	margin-top: 36px
	padding-top: 25px
	overflow: hidden
	position: relative
	&:after
		content: ''
		width: calc(100%)
		height: 2px
		display: inline-block
		background: #C1C1C1
		position: absolute
		top: 6px
		left: 0

.progress_month
	font-size: 13px
	border-radius: 5px
	border: 2px solid #C1C1C1
	padding: 2px
	transition: $tr
	cursor: pointer
	user-select: none
	width: 71px
	text-align: center
	margin-right: 20px

.progress_month.active
	color: #fff
	background: $ac
	border-color: $ac

.progress_month.disabled
	background: #E6E6E6
	border-color: #E6E6E6
	cursor: default
	position: relative
	&:before
		content: ''
		width: 9px
		height: 9px
		display: inline-block
		background: #C1C1C1
		border-radius: 100%
		position: absolute
		top: -25px
		left: 50%
		transform: translate(-50%, 0)
		z-index: 2

.progress_month
	&:not(.disabled)
		position: relative
		&:before
			content: ''
			width: 9px
			height: 9px
			display: inline-block
			background: $ac
			border-radius: 100%
			position: absolute
			top: -25px
			left: 50%
			transform: translate(-50%, 0)
			z-index: 2
		&:after
			content: ''
			width: calc(100% + 25px)
			height: 2px
			display: inline-block
			background: $ac
			position: absolute
			top: -21px
			left: calc(-50% - 25px)
			z-index: 2

.progress_slider_small
	display: block
	border-radius: 5px
	outline-color: #000
	margin-top: 50px
	overflow: hidden
	margin-bottom: 20px
	box-shadow: 0px 5px 15px -7px #555, 5px 5px 15px 5px rgba(0,0,0,0)
	img
		width: 100%
		display: block

.slider_prev, .slider_next
	border-radius: 5px
	border: 1px solid #ADADAD
	background-color: #fff
	width: 45px
	height: 22px
	background-repeat: no-repeat
	background-position: center
	cursor: pointer
	z-index: 2

.slider_prev
	background-image: url(../images/slider_nav/prev.svg)

.slider_next
	background-image: url(../images/slider_nav/next.svg)

.progress_bottom
	padding: 32px 100px 50px
	position: relative
	.slider_prev, .slider_next
		position: absolute
		top: 40%

	.slider_prev
		left: 50px

	.slider_next
		right: 50px

.compensate-for-scrollbar
	padding-right: 0 !important

.cameras_block
	background: #dbdbdb
	padding: 48px 44px

.cameras_item
	margin-bottom: 20px
	border-radius: 5px
	overflow: hidden
	position: relative

.canvas
	height: 273px
	>*
		width: 100%
		height: 100%
		display: block

.cameras_count
	width: 31px
	height: 31px
	border-radius: 4px
	background-color: rgba(#F0F0F0, 0.7)
	border-radius: 4px
	background-image: url(../images/icon/27.svg)
	background-repeat: no-repeat
	background-position: center
	display: flex
	align-items: center
	justify-content: center
	color: #fff
	font-size: 9px
	font-weight: 700
	padding-right: 4px
	position: absolute
	top: 10px
	left: 10px

.button_fullscrin
	background-image: url(../images/icon/28.svg)
	background-repeat: no-repeat
	background-position: center
	width: 32px
	height: 32px
	border-radius: 4px
	background-color: rgba(#F0F0F0, 0.7)
	position: absolute
	bottom: 10px
	right: 10px

.fancybox__thumbs .carousel__slide .fancybox__thumb::after
	border-color: $ac

// box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
//	background-image: url(../images/111111111/222222222.svg)



@import _media

.row_0
	margin-right: 0px
	margin-left: 0px
	> *
		padding-right: 0px
		padding-left: 0px