	<aside class="aside type_2">
		<div class="aside_container">
			<a href="/" class="logo">
				<img src="images/logo.svg" alt="">
				Building DV
			</a>
			<nav>
				<ul class="ul_reset nav_list">
					<li>
						<a href="#" class="nav_link">О застройщике</a>
					</li>
					<li>
						<a href="#" class="nav_link">Проекты</a>
					</li>
					<li>
						<a href="#" class="nav_link">Условия покупки</a>
					</li>
					<li>
						<a href="#" class="nav_link">Документы</a>
					</li>
					<li>
						<a href="#" class="nav_link">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="aside_address">
				<ul class="ul_reset soc_list">
					<li>
						<a href="#" class="soc_link fa" target="_blank" rel="nofollow"><span class="vis_hid">Facebook</span></a>
					</li>
					<li>
						<a href="#" class="soc_link in" target="_blank" rel="nofollow"><span class="vis_hid">Instagram</span></a>
					</li>
					<li>
						<a href="#" class="soc_link vk" target="_blank" rel="nofollow"><span class="vis_hid">Vk</span></a>
					</li>
					<li>
						<a href="#" class="soc_link yo" target="_blank" rel="nofollow"><span class="vis_hid">Youtube</span></a>
					</li>
				</ul>
			</div>
		</div>
	</aside>