	<aside class="aside">
				<div class="aside_container">
					<a href="/" class="logo">
						<img src="images/logo.svg" alt="">
						Building DV
					</a>
					<nav>
						<ul class="ul_reset nav_list">
							<li>
								<a href="#" class="nav_link">О застройщике</a>
							</li>
							<li>
								<a href="#" class="nav_link">Проекты</a>
							</li>
							<li>
								<a href="#" class="nav_link">Условия покупки</a>
							</li>
							<li>
								<a href="#" class="nav_link">Документы</a>
							</li>
							<li>
								<a href="#" class="nav_link">Закупки</a>
							</li>
							<li>
								<a href="#" class="nav_link">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="aside_address">
						<div class="address_item type_1">
							<div class="address_title">
								Адрес объекта:
							</div>
							<div class="address_text">
								Посёлок Тавричанка 
								Надеждинский район, 
								Приморский край, Россия
							</div>
						</div>
						<div class="address_item type_2">
							<div class="address_title">
								Офис:
							</div>
							<div class="address_text">
								Приморский край,
								город Владивосток, 
								Шахтовая улица, дом 40, 
								квартира 2
							</div>
						</div>
						<div class="address_phone">
							<a href="tel:" class="phone_link">+7 (495) 125-21-79</a>
							<a href="#" class="link_call_back">Заказать обратный звонок</a>
						</div>
						<ul class="ul_reset soc_list">
							<li>
								<a href="#" class="soc_link fa" target="_blank" rel="nofollow"><span class="vis_hid">Facebook</span></a>
							</li>
							<li>
								<a href="#" class="soc_link in" target="_blank" rel="nofollow"><span class="vis_hid">Instagram</span></a>
							</li>
							<li>
								<a href="#" class="soc_link vk" target="_blank" rel="nofollow"><span class="vis_hid">Vk</span></a>
							</li>
							<li>
								<a href="#" class="soc_link yo" target="_blank" rel="nofollow"><span class="vis_hid">Youtube</span></a>
							</li>
						</ul>
					</div>
				</div>
			</aside>