<footer class="footer">
	<div class="row row_0">
		<div class="col3">
			
		</div>
		<div class="col9">
			<div class="row row_0 footer_row">
				<div class="col1">
					<a href="/" class="logo">
						<img src="images/logo.svg" alt="">
						Building DV
					</a>
					<div class="copy">
						Все права на публикуемые на сайте материалы принадлежат ПАО «ПИК-специализированный застройщик» © 2000 — 2021.
						Пользователь уведомлен, что любые материалы, размещенные на сайте, являются объектами интеллектуальной собственности ПАО
						«ПИК-специализированный застройщик» (правообладателя). Пользователь не вправе без предварительного письменного разрешения 
						правообладателя осуществлять какие-либо действия с объектами интеллектуальной собственности, в противном случае, правообладатель 
						оставляет за собой право на взыскание штрафов, предусмотренных законодательством РФ, а также на обращение в компетентные органы 
						за защитой своих прав и законных интересов. Любая информация, представленная на данном сайте, носит исключительно информационный 
						характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ.

					</div>
				</div>
				<div class="footer_right">
					<div class="footer_str">
						<div class="phone_str">
							Тел: <a href="tel"> +7 (908) 997-24-20</a>
						</div>
					</div>
					<div class="footer_str type_2">
						<div class="address_str">
							<address>
								РФ, Приморский край, 
								м.р-н Надеждинский, с.п. Тавричанское,
								п Тавричанка, ул Парковая, зд. 1б, этаж 2
							</address>
						</div>
					</div>
					<div class="footer_str">
						<div class="mail_str">
							<a href="mailto:">bildingdv@mail.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>