<header class="header">
	<div class="container">
		<div class="header_info">
			Дальневосточная ипотека
		</div>
		<ul class="ul_reset header_nav">
			<li>
				<a href="#" class="head_link type_1">
					<span class="link_count">1</span>
					Избранное
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_2">
					Онлайн камера
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_3">
					Видео об объекте
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_4">
					Аэро фотосъемка
				</a>
			</li>
		</ul>
	</div>
</header>