<header class="header">
	<div class="container">
		<div class="header_contact">
			<address>
				Приморский край, город Владивосток, 
				Шахтовая улица, дом 40, квартира 2
			</address>
			<div class="address_phone">
				<a href="tel:" class="phone_link">+7 (495) 125-21-79</a>
				<a href="#" class="link_call_back">Заказать обратный звонок</a>
			</div>
		</div>

		<ul class="ul_reset header_nav">
			<li>
				<a href="#" class="head_link type_1">
					<span class="link_count">1</span>
					Избранное
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_2">
					Онлайн камера
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_3">
					Видео об объекте
				</a>
			</li>
			<li>
				<a href="#" class="head_link type_4">
					Аэро фотосъемка
				</a>
			</li>
		</ul>
	</div>
</header>