<div class="chioce_progr">
      <div class="chioce_progr_left">
            Продано: <div>50<span>кв.</span></div>
      </div>
      <div class="chioce_progr_right">
            Осталось: <div>150<span>кв.</span></div>
      </div>
      <div class="chioce_line">
            <span style="width: 33.33%"></span>
      </div>
</div>
<div class="house_sect">
      <div class="house_sect_left">
            <div class="sect_num">
                  <span>1</span>
                  Секция
            </div>
      </div>
      <div class="house_sect_right">
            <div class="sect_num">
                  <span>2</span>
                  Секция
            </div>
      </div>
</div>

<div class="house_block">
      <div class="house_top">
            <img src="images/house/1.svg" alt="">
      </div>
      <div class="house_center">
            <div class="house_left">
                  <div class="house_str">
                        <img src="images/house/2.svg" alt=""> 
                        <div class="house_num">8</div>
                        <div class="house_info">
                              <div>Свободно 
                                    <span>12</span>
                                    квартир
                              </div> 
                              <button class="button_reset button" data-micromodal-trigger="house_l8">Посмотреть</button>
                        </div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">7</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">6</div>
                          <div class="house_info">
                              <div>Свободно 
                                    <span>12</span>
                                    квартир
                              </div> 
                              <button class="button_reset button view_modal_js" data-index="l8">Посмотреть</button>
                        </div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">5</div>
                         <div class="house_info">
                              <div>Свободно 
                                    <span>12</span>
                                    квартир
                              </div> 
                              <button class="button_reset button view_modal_js" data-index="l8">Посмотреть</button>
                        </div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">4</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">3</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">2</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">1</div>
                  </div>
            </div>
            <div class="house_right">
                  <div class="house_str">
                        <img src="images/house/2.svg" alt=""> 
                        <div class="house_num">8</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">7</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">6</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">5</div>
                        <div class="house_info">
                              <div>Свободно 
                                    <span>12</span>
                                    квартир
                              </div> 
                              <button class="button_reset button view_modal_js" data-index="l8">Посмотреть</button>
                        </div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">4</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">3</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">2</div>
                  </div>
                  <div class="house_str">
                        <img src="images/house/2.svg" alt="">  
                        <div class="house_num">1</div>
                  </div>
            </div>
      </div>
      <div class="house_bottom">
            <img src="images/house/4.svg" alt="">  
      </div>
</div>

