	<div class="preloader">
		<div>
			<div class="preloader_block">
				<div class="preloader_logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="1581.775" height="163.971" viewBox="0 0 1581.775 163.971">
						<g id="Сгруппировать_7" data-name="Сгруппировать 7" transform="translate(-204.855 -397.029)">
							<path id="Контур_39" data-name="Контур 39" d="M-4486.122,1571.554v-37.946l33.479-22.746,32.808,22.746v37.946" transform="translate(5446 -1081)" fill="none" stroke="#b91a1a" stroke-width="12"/>
							<path id="Контур_40" data-name="Контур 40" d="M34.12,15.179c2.265.309,15.542,6.3,21.215,8.584a69.706,69.706,0,0,0,51.246.366h0c8.5-3.279,16.05-6.878,21.641-9.555,7.55,1.411,12.562-1.88,16.484-2.691A87.669,87.669,0,0,1,127.357,27.62l.025.045-.671.38q-.3.194-.6.385h-.082l-4.168,2.361A81.822,81.822,0,0,1,81.422,41.4,82.366,82.366,0,0,1,38.494,29.414l-1.405-.94h-.023q-1.772-1.13-3.481-2.346l-.164-.11.006,0a81.735,81.735,0,0,1-11.74-10.529C22.106,15.289,22.723,12.6,34.12,15.179ZM13.238-27.006C7.79-24.562,6.558-23.647.843-28.859a1.823,1.823,0,0,1-.156-.174.994.994,0,0,1-.012-.12h0L.215-35.424Q0-38.341,0-41.306C.153-85.4,36.9-121.595,81.5-121.595c43.922,0,80.35,35.1,81.477,78.5q.02.894.02,1.791l-.384,9.514c-.589,4.561-.332,2.973-1.438,3.7-6.807,4.438-13.01,3.722-12.078,0s1.179-10.329,1.179-13.209q0-.76-.016-1.516c-.78-36.75-31.577-66.56-68.763-66.56-37.73,0-68.778,30.69-68.778,67.986v.09c0,1.673,0,1.715,0,5.229S13.52-28.3,13.238-27.006Z" transform="translate(912 518.624)" fill="#b91a1a" fill-rule="evenodd"/>
							<circle id="Эллипс_31" data-name="Эллипс 31" cx="81.5" cy="81.5" r="81.5" transform="translate(912 398)" fill="none"/>
							<g id="Сгруппировать_6" data-name="Сгруппировать 6" transform="translate(5390 -1081)">
								<g id="line1">
									<g data-name="Сгруппировать 9" transform="translate(-453)">
										<g id="Сгруппировать_3" data-name="Сгруппировать 3" transform="translate(-222 2)">
											<path id="Контур_33" data-name="Контур 33" d="M24.7,96.089c21.827,7.068,34.941-12.6,56.747-12.6,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
										</g>
										<g id="Сгруппировать_8" data-name="Сгруппировать 8" transform="translate(236 1)">
											<path id="Контур_33-2" data-name="Контур 33" d="M24.783,96.891c24.236,4.932,34.86-13.4,56.667-13.4,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34-2" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35-2" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36-2" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37-2" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38-2" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
										</g>
									</g>
								</g>
								<g id="line2">
									<g data-name="Сгруппировать 10" transform="translate(188 22)">
										<g id="Сгруппировать_3-2" data-name="Сгруппировать 3" transform="translate(-222 2)">
											<path id="Контур_33-3" data-name="Контур 33" d="M24.7,96.089c21.827,7.068,34.941-12.6,56.747-12.6,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34-3" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35-3" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36-3" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37-3" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38-3" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
										</g>
										<g id="Сгруппировать_8-2" data-name="Сгруппировать 8" transform="translate(236 1)">
											<path id="Контур_33-4" data-name="Контур 33" d="M24.783,96.891c24.236,4.932,34.86-13.4,56.667-13.4,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34-4" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35-4" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36-4" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37-4" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38-4" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="#fff" stroke="#b91a1a" stroke-width="12"/>
										</g>
									</g>
								</g>
								<g id="line3">
									<g data-name="Сгруппировать 11" transform="translate(-453 44)">
										<g id="Сгруппировать_3-3" data-name="Сгруппировать 3" transform="translate(-222 2)">
											<path id="Контур_33-5" data-name="Контур 33" d="M24.7,96.089c21.827,7.068,34.941-12.6,56.747-12.6,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34-5" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35-5" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36-5" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37-5" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38-5" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
										</g>
										<g id="Сгруппировать_8-3" data-name="Сгруппировать 8" transform="translate(236 1)">
											<path id="Контур_33-6" data-name="Контур 33" d="M24.783,96.891c24.236,4.932,34.86-13.4,56.667-13.4,21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4533 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_34-6" data-name="Контур 34" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4442 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_35-6" data-name="Контур 35" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4351 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_36-6" data-name="Контур 36" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_37-6" data-name="Контур 37" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4260 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
											<path id="Контур_38-6" data-name="Контур 38" d="M42.572,96.455C55.086,93.208,66.12,83.487,81.45,83.487c21.916,0,35.836,20.753,57.762,11.1" transform="translate(-4169 1479)" fill="none" stroke="#b91a1a" stroke-width="12"/>
										</g>
									</g>
								</g>
							</g>
						</g>
					</svg>

				</div>
				<div class="preloader_name">Building DV</div>
				<div class="preloader_text">
					Специализированный застройщик
					<span>БИЛДИНГ ДВ</span>
					<div class="preloader_line"></div>
				</div>
			</div>
		</div>
	</div>