@use 'sass:math'
@use 'sass:color'
@import config
@import 'blocks/**/*'


.header
	padding-top: 20px
	padding-bottom: 13px
	position: fixed
	top: 0
	left: 0
	width: 100%
	transition: $tr
	z-index: 10
	backdrop-filter: blur(20px)
	.container
		display: flex
		align-items: center
		justify-content: space-between


.header_contact
	position: absolute
	top: 0
	left: 0
	backdrop-filter: blur(0px)

.header.scroll
	@-moz-document url-prefix()
		background: rgba(#fff, 0.8)


.section_first
	padding-top: 85px

.mob_menu
	background: #f7f7f7
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	overflow: scroll
	padding-bottom: 39px
	text-align: center
	display: none
	z-index: 11
	>div
		overflow: hidden
	.button_favorite
		margin-top: 30px
	.button_close
		position: absolute
		top: 50px
		left: calc(50% - 15px)
	.phone_link
		margin-top: 50px
		margin-bottom: 8px

.nav_link
	font-size: 18px
	color: #000
	text-decoration: none
	display: flex
	flex-wrap: wrap
	align-items: center
	&:before
		content: ''
		width: 5px
		height: 1px
		background: #000
		display: inline-block
		margin-right: 16px

.nav_list
	margin: auto
	margin-top: 121px
	position: relative
	margin-bottom: 18px
	max-width: 200px
	position: relative
	left: 20px
	li
		margin-bottom: 33px

.phone_link
	font-size: 21px
	text-decoration: none
	color: $ac
	background-image: url(../images/icon/2.svg)
	background-repeat: no-repeat
	background-position: 0 center
	background-size: auto 80%
	padding-left: 27px
	display: inline-block

.address
	font-size: 12px
	font-style: normal
	max-width: 245px
	color: #7E7E7E
	margin: auto

.soc_list
	display: flex
	align-items: center
	justify-content: center
	margin-top: 38px
	li
		margin-left: 8px


.soc_link
	width: 41px
	height: 41px
	border-radius: 100%
	border: 1px solid #CECECE
	display: block
	background-repeat: no-repeat
	background-position: center
	transition: background-color .25s ease


.soc_link.fa
	background-image: url(../images/soc/1.svg)

.soc_link.in
	background-image: url(../images/soc/2.svg)

.soc_link.vk
	background-image: url(../images/soc/3.svg)

.soc_link.yo
	background-image: url(../images/soc/4.svg)


.home_slide
	position: relative
	height: 780px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		background: #716755
		opacity: .27
		z-index: 2
	img
		height: 100%
		position: absolute
		bottom: 0
		left: 50%
		transform: translate(-50%, 0)

.home_section
	position: relative
	.how_much
		position: absolute
		right: 16px
		top: 236px
	.button_son, .button_dec, .button_play
		position: absolute
		left: 16px
		z-index: 1
	.button_son
		top: 193px
	.button_dec
		top: 249px
	.button_play
		top: 304px

.home_title
	font-size: 13px
	font-weight: 300
	position: absolute
	color: #fff
	top: 100px
	left: 16px
	z-index: 1
	span
		font-size: 27px
		font-weight: 800
		line-height: 1.5
		display: block

.swiper_dots
	position: absolute
	left: 50%
	transform: translate(-50%, 0)
	top: 400px
	z-index: 2
	padding: 10px 0
	border-radius: 10px
	background: rgba(#000, 0.2)
	backdrop-filter: blur(6px)
	display: flex
	align-items: center

.swiper-pagination-bullet
	width: 5px
	height: 5px
	opacity: 1
	margin: 0 17px
	background: #fff

.swiper-pagination-bullet.swiper-pagination-bullet-active
	background: $ac


.checkbox
	position: relative
	input
		visibility: hidden
		position: absolute
	input.error
		~label
			&:before
				border-color: red
	input
		&:checked
			~label
				&:before
					background: $ac
					border-color: $ac
	label
		font-size: 14px
		padding-left: 25px
		position: relative
		display: block
		font-weight: 300
		cursor: pointer
		&:before
			content: ''
			width: 15px
			height: 15px
			display: inline-block
			border: 1px solid #aaa
			position: absolute
			top: 3px
			left: 0
		&:after
			content: ''
			display: inline-block
			width: 5px
			height: 10px
			border-right: 2px solid #fff
			border-bottom: 2px solid #fff
			position: absolute
			top: 4px
			transform: rotate(45deg)
			left: 5px


.how_much
	width: 102px
	height: 102px
	border-radius: 100%
	background: $ac
	z-index: 2
	color: #fff
	display: flex
	align-items: center
	justify-content: center
	font-size: 12px
.how_much_inner
	width: 85px
	height: 85px
	border: 1.5px dashed #fff
	border-radius: 100%
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	span
		display: block
		font-size: 29px
		line-height: 1


.home_form
	z-index: 1
	width: 100%
	margin-top: -420px
	position: relative

.item_block
	background: #fff
	border-radius: 5px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)
	

.home_choice_text
	font-size: 13px
	padding: 5px 0

.home_choice
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: center
	max-width: 400px
	margin: auto
	padding: 17px 15px

.home_choice_slider
	flex: 0 0 170px

.button_radio
	input
		display: none
		&:checked
			~label
				filter: grayscale(0)
				opacity: 1

	label
		font-size: 11px
		border: 1px solid $ac
		border-radius: 19px
		color: $ac
		padding: 11px 17px
		display: inline-block
		position: relative
		filter: grayscale(100%)
		opacity: 0.6
		&:before
			content: ''
			width: 5px
			height: 7px
			display: inline-block
			background-image: url(../images/icon/8.svg)
			background-repeat: no-repeat
			position: absolute
			top: calc(50% - 3.5px)
			right: -18px

.button_radio.left
	label
		transform: translate(20px, 0)
		&:before
			left: -18px
			transform: rotate(180deg)

.home_options
	max-width: 400px
	margin: auto
	margin-top: 10px
	padding: 15px 15px 35px 15px

.input_name
	font-size: 13px
	margin-bottom: 15px

.form_checkbox_row
	display: flex
	align-items: center
	.form_checkbox_item
		margin-right: 8px

.form_checkbox_item
	input
		display: none
		&:checked
			~label
				background: $ac
				background-color: $ac
				color: #fff
	label
		width: 59px
		height: 53px
		border: 1px solid #CECECE
		background: #FFFFFF
		border-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		font-size: 15px
		font-weight: 300
		transition: $tr

.form_inputs
	background: #fff
	border: 1px solid #CECECE
	border-radius: 5px
	width: 100%
	display: flex
	input
		width: 80px
	.input_block
		flex: 1 0 0
		text-align: center
		&:first-child
			border-right: 1px solid #CECECE

.input_block
	padding: 18px 0
	label
		font-size: 13px
	input
		border: none
		font-size: 13px
		&::placeholder
			color: #000

.form_prices
	margin-top: 14px
	position: relative
	margin-bottom: 50px

.ui-slider.slider_line
	width: calc(100% - 14px)
	position: absolute
	bottom: -16px
	left: 7px
	height: 1px
	background: #ddd
	border: none !important
	.noUi-connects
		background: #ddd
	.noUi-connect
		background: $ac

	.ui-slider-handle
		border-radius: 100px
		background: $ac
		border: none
		width: 14px
		height: 14px
		box-shadow: none
		top: -6px
		cursor: pointer
		outline: none
		position: relative
		margin-left: 33%

.noUi-target.slider_line .noUi-handle:after, .noUi-handle:before
	display: none

.about_section
	padding-top: 38px

.section_title
	font-size: 25px
	font-weight: 300
	margin: 0

.about_text
	font-size: 13px
	font-weight: 300

.about_block
	padding-left: 50%
	padding-top: 26px
	background-image: url(../images/about.png)
	background-repeat: no-repeat
	background-position: 0 30px
	background-size: 146px auto
	position: relative
	margin-bottom: 50px

.about_b
	font-size: 16px
	margin-bottom: 15px

.about_str
	font-size: 15px
	color: #959595
	margin-bottom: 14px
	span
		display: block
		color: #000
		margin-top: 8px
		margin-bottom: 15px

.about_str.line_bottom
	border-bottom: 1px solid #C1C1C1



.num
	font-size: 10px
	position: absolute
	top: 20px
	right: 23px

.about_item
	min-height: 184px
	background: #fff
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
	border-radius: 5px
	padding: 10px
	position: relative
	margin-bottom: 13px

.about_item_title
	font-size: 12px
	line-height: 15px
	color: #888
	text-align: center

.about_item_num
	font-size: 10px
	color: #888
	position: absolute
	top: 12px
	right: 10px

.about_item_icon
	width: 60px
	height: 60px
	background-repeat: no-repeat
	background-position: center
	margin: 15px auto

.about_item_text
	text-align: center
	font-size: 13px
	font-weight: 300
	line-height: 1.5
	b
		font-size: 13px
		font-weight: 700

// .about_item
// 	height: 153px
// 	background: #fff
// 	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
// 	border-radius: 5px
// 	background-repeat: no-repeat
// 	background-size: auto 35px
// 	display: flex
// 	align-items: center
// 	font-size: 11px
// 	color: #888888
// 	margin-bottom: 11px
// 	position: relative
// 	>div
// 		>span
// 			display: block
// 			font-size: 13px
// 			color: #000
// 			margin-top: 7px

.phone_big
	font-size: 13px
	margin-top: 20px
	margin-bottom: 18px
	a
		color: #000
		font-size: 27px
		text-decoration: none
		display: block
		margin-top: 4px

.about_bottom
	font-size: 13px

.about_right
	font-size: 12px
	position: relative
	padding-top: 15px
	&:before
		content: ''
		height: 1px
		width: 168px
		background: #C1C1C1
		display: inline-block
		position: absolute
		top: 0
		left: 0
	.link_download
		margin-top: 5px
		display: inline-block

.link_download
	font-size: 12px
	color: #239BDB
	padding-right: 25px
	background-image: url(../images/icon/9.svg)
	background-repeat: no-repeat
	background-position: right center

.choices_section
	padding-top: 36px

.chioce_nav
	width: 344px
	height: 66px
	border: 1px solid #CBCBCB
	border-radius: 5px
	background: #fff
	display: flex
	margin: 20px 0

.chioce_link
	flex: 1 0 0
	padding-left: 21px
	font-size: 15px
	display: flex
	align-items: center
	color: #000
	text-decoration: none
	&:first-child
		border-right: 1px solid #CECECE
	&:after
		content: ''
		display: block
		width: 12px
		height: 12px
		border-radius: 100%
		box-shadow: 0px 0px 0px 1px #B5B5B5
		margin-left: 15px
		border: 4px solid #fff

.chioce_link.active
	&:after
		background: $ac
		box-shadow: 0px 0px 0px 1px $ac


.choices_row
	margin-top: 35px

.choices_item
	padding: 21px 16px 18px
	position: relative
	margin-bottom: 24px
	transition: $tr


.choices_top
	border-bottom: 1px solid #DBDBDB
	padding-bottom: 15px
	display: flex
	align-items: center
	justify-content: space-between
	font-size: 13px
	h2
		font-size: 12px
		font-weight: 400
		margin: 0
		margin-bottom: 9px

.choices_area
	font-size: 12px
	color: #B1AEAE
	display: flex
	align-items: center
	span
		border: 1px solid $ac
		border-radius: 5px
		font-size: 14px
		color: $ac
		padding: 4px 10px
		display: block
		margin-left: 14px
		white-space: nowrap

.choices_price
	font-size: 12px
	color: #B1AEAE
	display: flex
	align-items: center
	margin-top: 10px
	div
		color: $ac
		font-weight: 300
		font-size: 27px
		margin-left: 7px
		span
			font-size: 18px


.choices_img
	height: 274px
	margin-top: 20px
	margin-bottom: 16px
	text-align: center
	img
		height: 100%
		width: 100%

.choices_nums
	display: flex


.choices_num
	font-size: 12px
	color: #969696
	display: flex
	align-items: center
	margin-right: 13px
	div
		font-size: 15px
		color: #000
		border: 1px solid #000
		border-radius: 5px
		width: 39px
		height: 39px
		display: flex
		align-items: center
		justify-content: center
		margin-left: 5px

.choices_num.red
	div
		border-color: $ac
		color: $ac
		width: 76px

.about_page
	background-image: url(../images/about_page.jpg)
	background-repeat: no-repeat
	background-position: left top
	background-size: cover
	padding-bottom: 1px


.company_button_block
	display: flex
	align-items: center
	position: relative
	margin-top: 13px
	.button_clear
		margin-right: 10px

.company_row
	margin-top: 20px

.company_item
	margin-bottom: 24px
	h3
		font-size: 18px
		font-weight: 300
		margin: 0
		margin-bottom: 10px
	p
		font-size: 13px
		font-weight: 300

.team_section
	padding-top: 19px
	background: #fff

.section_title.small
	font-size: 18px
	font-weight: 300

.team_item
	padding-top: 11px
	padding-left: 12px
	padding-bottom: 13px
	height: 210px
	margin-bottom: 17px

.team_img
	width: 120px
	height: 104px
	position: relative
	overflow: hidden
	text-align: right
	margin-right: 10px
	margin-left: auto
	margin-bottom: 5px
	&:before
		content: ''
		width: 100%
		height: 60px
		display: block
		background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #ffffff 90%)
		position: absolute
		bottom: -1px
		left: 0
	img
		height: 100%

.team_name
	font-size: 13px
	max-width: 130px
	margin-bottom: 4px

.team_prof
	font-size: 11px
	font-weight: 300

.team_row
	margin-top: 22px

.team_logo
	height: 210px
	text-align: center
	padding-top: 25px
	font-size: 12px
	img
		width: 47px
		margin-bottom: 20px
	div
		font-size: 13px
		font-weight: 800
		text-transform: uppercase
		margin-bottom: 7px
	p
		text-align: left
		max-width: 110px
		margin: auto
		margin-top: 15px

.partner_section
	background: #fff
	padding-top: 25px
	padding-bottom: 30px

.partner_row
	margin-top: 28px

.partner_item
	text-align: center
	font-size: 10px
	font-weight: 300
	height: 165px
	padding-top: 117px
	padding-bottom: 34px
	background-repeat: no-repeat
	margin-bottom: 15px

.partner_item.type_1
	background-image: url(../images/partner/1.png)
	background-size: 103px auto
	background-position: center 60px

.partner_item.type_2
	background-image: url(../images/partner/2.png)
	background-size: 91px auto
	background-position: center 42px

.partner_item.type_3
	background-image: url(../images/partner/3.png)
	background-size: 61px auto
	background-position: center 50px

.partner_item.type_4
	background-image: url(../images/partner/4.png)
	background-size: 81px auto
	background-position: center 37px

.partner_item.type_5
	background-image: url(../images/partner/5.png)
	background-size: 108px auto
	background-position: center 40px

.partner_item.type_6
	background-image: url(../images/partner/6.png)
	background-size: 148px auto
	background-position: center 37px

.projects_row
	margin-top: 12px

.project_item
	overflow: hidden
	margin-bottom: 20px

.project_img
	position: relative
	overflow: hidden
	img
		width: 100%
	.how_much
		position: absolute
		bottom: 20px
		right: 20px
		transform: scale(0.8)

.project_content
	padding: 15px 20px 40px

.project_b
	font-size: 11px
	font-weight: 300

.project_name
	font-size: 16px
	font-weight: 300
	position: relative
	left: -10px
	a
		text-decoration: none
		color: #000

.project_str
	display: flex
	margin-top: 18px

.num_info
	font-size: 12px
	color: #A5A5A5
	display: flex
	flex-wrap: wrap
	align-items: center
	div
		border: 1px solid #000000
		border-radius: 5px
		font-size: 20px
		padding: 5px
		color: #000
		font-weight: 300
		min-width: 33px
		text-align: center
		margin-left: 11px

.line_right
	position: relative
	margin-right: 15px
	padding-right: 17px
	&:before
		content: ''
		width: 1px
		height: 15px
		background: #AFAFAF
		display: inline-block
		position: absolute
		right: 0
		top: calc(50% - 7.5px)

.text_info
	display: flex
	align-items: center
	font-size: 12px
	color: #A5A5A5
	div
		color: #000
		margin-left: 14px
		position: relative
		top: -2px
		span
			font-size: 20px



.project_prices
	display: flex
	align-items: center
	padding-left: 40px
	position: relative
	white-space: nowrap
	margin-top: 10px
	&:before
		content: ''
		width: 31px
		height: 31px
		border-radius: 100%
		background-image: url(../images/icon/10.svg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		position: absolute
		top: calc(50% - 5px)
		left: 0

.price_item
	display: flex
	align-items: flex-end
	font-size: 11px
	margin-right: 10px
	>span
		color: #A5A5A5
		margin-right: 4px
	>div
		color: $ac
		margin-left: 4px
		position: relative
		top: 4px
		span
			font-size: 25px

.project_item_row
	display: flex
	align-items: flex-end
	justify-content: space-between
	flex-wrap: wrap


.project_content
	.button_line
		margin-top: 10px

.tab_item
	margin-bottom: 14px
	input
		display: none
		&:checked
			~label
				border-color: $ac
				color: $ac
	label
		display: block
		border: 1px solid #C6C6C6
		border-radius: 5px
		padding: 14px 14px 14px 30px
		white-space: nowrap
		transition: $tr
		font-size: 12px
		font-weight: 300
		line-height: 16px

.tab_row
	margin-top: 18px
	margin-bottom: 35px

.document_item
	position: relative
	margin-bottom: 30px

.document_title
	font-size: 11px
	margin-bottom: 17px
	display: flex
	align-items: flex-end
	span
		display: block

.document_icon
	background-image: url(../images/icon/11.svg)
	background-repeat: no-repeat
	background-position: center
	background-size: 60px auto
	background-color: #fff
	border-radius: 5px
	height: 186px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)

.document_bottom
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: space-between
	margin-top: 17px
	font-size: 11px




.term_row
	margin-top: 22px
	margin-bottom: 20px

.term_title
	font-size: 21px
	font-weight: 300
	display: flex
	align-items: center
	span
		color: $ac
		font-size: 33px
		margin-left: 7px

.bank_offers
	margin-bottom: 14px
	padding: 20px 0 0px

.bank_offers_logo
	text-align: center
	img
		width: 100%

.bank_offers_logo.type_1
	img
		max-width: 120px

.bank_offers_logo.type_2
	img
		max-width: 53px

.bank_offers_table
	font-size: 11px
	font-weight: 300
	color: #A0A0A0
	width: 100%
	tr
		display: block
		padding: 8px 8px 14px 16px
		position: relative
		&:before
			content: ''
			width: 100%
			height: 1px
			background: #E0E0E0
			display: block
			position: absolute
			left: 0
			bottom: 0
		&:last-child
			&:before
				display: none
	td
		display: block
		text-align: center
		&:last-child
			color: #000
		span
			color: $ac

.calculation
	padding: 30px 23px 29px

.calculation_input
	position: relative
	margin-bottom: 30px
	.ui-slider.slider_line
		.input_block
			border-radius: 5px
			border: 1px solid #CECECE
			padding: 14px 0
			display: flex
			justify-content: center
			align-items: center
			span
				font-size: 13px
				color: #8D8D8D
				margin-left: 5px
				margin-right: 5px
			input
				width: 102px
				margin-right: 0
				font-size: 20px

.calculation_input .input_block.period input
	padding: 0 38px

.input_name
	font-size: 14px
	margin-bottom: 15px

.calculation
	.section_title
		margin-bottom: 20px



.calculation_input.type_2
	.input_block
		position: relative
	.input_procent
		color: $ac
		font-size: 13px
		padding: 0 12px
		border-right: 1px solid #CECECE
		height: 100%
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		top: 0
		left: 0


.select
	position: relative
	input
		background-color: #fff
		border: 1px solid #CECECE
		background-image: url(../images/icon/12.svg)
		border-radius: 5px
		font-size: 13px
		padding: 21px
		width: 100%
		background-repeat: no-repeat
		background-position: calc(100% - 25px) center
.select_list
	box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.2)
	border-radius: 5px
	background: #f8f8f8
	position: absolute
	left: 0
	width: 100%
	top: 60px
	display: none
	z-index: 5
	li
		font-size: 14px
		border-bottom: 1px solid #D6D6D6
		padding: 20px 21px
		cursor: pointer
		&:last-child
			border: none

.select_list.show
	display: block

.calculation_select
	margin-bottom: 23px

.creditadv_item
	padding: 17px 25px 10px
	height: 153px
	margin-bottom: 15px
	p
		font-size: 11px
		font-weight: 300
		margin: 0

.creditadv_head
	font-size: 18px
	margin-bottom: 5px
	margin-top: 10px

.creditadv_icon
	background-repeat: no-repeat
	background-position: center
	background-size: 100%

.creditadv_icon.type_1
	background-image: url(../images/creditadv/1.svg)
	width: 47px
	height: 37px

.creditadv_icon.type_2
	background-image: url(../images/creditadv/2.svg)
	width: 53px
	height: 37px

.creditadv_icon.type_3
	background-image: url(../images/creditadv/3.svg)
	width: 28px
	height: 37px

.creditadv_icon.type_4
	background-image: url(../images/creditadv/4.svg)
	height: 37px
	width: 30px

.creditadv_row
	margin-top: 30px

.creditadv_section
	padding-top: 33px
	padding-bottom: 30px

.creditadv_text
	font-size: 13px

.contact_wrap
	position: relative
	overflow: hidden

.contact_wrap.top
	background-image: url(../images/map1.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: auto 100%
	width: 100%
	animation: contact_wrap_1_show .7s ease 1
	height: 600px

.contact_wrap.bottom
	background-image: url(../images/map2.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: auto 100%
	width: 100%
	animation: contact_wrap_2_show .7s ease 1
	height: 595px

.map_marker
	width: 60.5px
	height: 74px
	background-image: url(../images/icon/13.svg)
	background-repeat: no-repeat
	background-size: 100%
	position: absolute
	left: calc(50% - 30px)
	animation: map_marker_show .7s ease 1
	top: 120px

.map_window
	max-width: 320px
	width: 100%
	position: absolute
	top: 220px
	margin: auto
	left: calc(50% - 160px)
	padding-top: 23px
	overflow: hidden
	transition: all .35s ease

.map_window_head
	font-size: 12px
	padding-left: 26px
	border-bottom: 1px solid #E6E6E6
	padding-bottom: 17px
	
	span
		display: block
		font-size: 16px
		margin-top: 5px

.map_window_str
	font-size: 11px
	padding-left: 74px
	padding-right: 20px
	margin-top: 16px
	color: #000
	position: relative
	margin-bottom: 13px
	&:before
		content: ''
		display: inline-block
		background-repeat: no-repeat
		background-size: 100%
		background-position: center
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		left: 30px


.map_window_str.address
	margin-left: 0
	margin-right: 0
	max-width: none
	&:before
		background-image: url(../images/icon/14.svg)
		width: 17px
		height: 15px

.map_window_str.phone
	border-top: 1px solid #E6E6E6
	padding-top: 12px
	&:before
		background-image: url(../images/icon/15.svg)
		width: 14.3px
		height: 14.3px
		top: 70%
	a
		font-size: 16px
		text-decoration: none
		color: #000
		line-height: 1

.map_window_str.time
	border-top: 1px solid #E6E6E6
	padding-bottom: 0px
	padding-top: 12px
	&:before
		background-image: url(../images/icon/16.svg)
		width: 16.3px
		height: 16.3px
		top: 60%

.map_window_str.mail
	border-top: 1px solid #E6E6E6
	padding-bottom: 10px
	padding-top: 12px
	&:before
		background-image: url(../images/icon/17.svg)
		width: 16px
		height: 12.8px
		top: 20px
	a
		color: #239BDB



.map_marker_2
	width: 60.5px
	height: 74px
	background-image: url(../images/icon/18.svg)
	background-repeat: no-repeat
	background-size: 100%
	position: absolute
	left: 50%
	top: 350px

.map_window_str.object
	margin: 20px 0
	&:before
		background-image: url(../images/icon/19.svg)
		width: 15px
		height: 15px

.map_icons_list
	border-top: 1px solid #E6E6E6
	padding-left: 33px
	padding-top: 21px
	padding-bottom: 15px
	display: flex
	flex-wrap: wrap
	justify-content: flex-end
	li
		padding-left: 30px
		background-repeat: no-repeat
		font-size: 11px
		color: #7C7C7C
		margin-bottom: 16px
		background-size: auto 100%
	li.type_1
		background-image: url(../images/map_icons/1.svg)
		flex: 0 0 40%
	li.type_2
		background-image: url(../images/map_icons/2.svg)
		flex: 0 0 40%
	li.type_3
		background-image: url(../images/map_icons/3.svg)
		flex: 0 0 60%
	li.type_4
		background-image: url(../images/map_icons/4.svg)
		flex: 0 0 60%
	li.type_5
		background-image: url(../images/map_icons/5.svg)
		flex: 0 0 60%


.map_window.type_2
	height: 308px

.map_window.type_3
	top: 38px
	height: 276px

.contact_wrap.top.hide
	animation: contact_wrap_1_hide .7s ease 1
	height: 217px

	.map_marker
		animation: map_marker_hide .7s ease 1
		top: -100px
	.map_window
		top: 90px
		height: 78px
		transform: scale(0.9)

.contact_wrap.bottom.hide
	height: 217px
	animation: contact_wrap_2_hide .7s ease 1
	.map_window
		height: 78px
		top: 70px
		transform: scale(0.9)


.sect_block
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap

.sect_item
	width: 41px
	font-size: 11px
	color: $ac
	margin: 0 13px
	font-weight: 300
	span
		display: flex
		margin: auto
		border: 1px solid $ac
		border-radius: 5px
		align-items: center
		justify-content: center
		font-weight: 600
		width: 41px
		height: 41px
		margin-bottom: 4px

.choices_house
	margin: auto
	margin-top: 12px
	margin-bottom: 30px
	display: flex
	justify-content: space-between
	max-width: 343px

.choices_middle
	width: 170px
	height: 535px
	background-image: url(../images/floor.svg)

.action_list
	display: flex
	align-items: center
	width: 120px
	justify-content: space-between
	li
		height: 16px

.badge
	width: 60px
	height: 61px
	color: #fff
	font-size: 10px
	text-align: center
	padding-top: 15px
	span
		display: block
		font-size: 12px

.badge.red
	background-image: url(../images/badge/r.svg)

.badge.black
	background-image: url(../images/badge/b.svg)

.compas
	background-image: url(../images/icon/24.svg)
	width: 80px
	height: 80px
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.section_top
	display: flex
	align-items: center
	justify-content: space-between

.apartment_img
	margin-top: 25px
	margin-bottom: 25px
	img
		width: 100%

.apartment_price
	display: flex
	align-items: flex-end
	margin-top: 18px
	margin-bottom: 30px

.apartment_b
	font-size: 11px
	color: #919191
	position: relative
	top: -7px
	margin-right: 9px

.apartment_p
	font-size: 16px
	font-weight: 300
	color: $ac
	span
		font-size: 36px


.apart_buttons
	margin-bottom: 30px
	.button_silver
		font-size: 14px
		display: block
		width: 100%
		text-align: center
		padding: 18px
		margin-top: 13px

.section_top_left
	display: flex
	align-items: center

.floor_num
	display: flex
	flex-wrap: wrap
	align-items: center
	color: $ac
	font-size: 11px
	margin-left: 16px
	span
		display: flex
		align-items: center
		justify-content: center
		width: 39px
		border: 1px solid $ac
		border-radius: 5px
		height: 39px
		font-size: 15px
		margin-left: 10px

.apart_sheme_item
	height: 220px
	width: 343px
	margin: auto
	margin-top: 16px
	margin-bottom: 20px
	position: relative

.apart_sheme_6
	img
		width: 100%
.apart_sheme_1, .apart_sheme_3, .apart_sheme_4, .apart_sheme_5, .apart_sheme_2, .apart_sheme_7
	position: absolute
	img
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		opacity: 0
		transition: opacity .25s ease
		&:first-child
			opacity: 1
.buy
	img
		&:first-child
			opacity: 0
		&:nth-child(2)
			opacity: 1
		&:nth-child(3)
			opacity: 0
.dis
	img
		&:first-child
			opacity: 0
		&:nth-child(2)
			opacity: 0
		&:nth-child(3)
			opacity: 1


.apart_sheme_1
	top: 0
	left: 0
	width: 25.3%
	height: 50%

.apart_sheme_2
	top: 0
	left: 24.5%
	width: 25.5%
	height: 50%

.apart_sheme_3
	top: 0
	right: 24.5%
	width: 25.5%
	height: 50%

.apart_sheme_4
	top: 0
	right: 0
	width: 25.5%
	height: 50%

.apart_sheme_5
	width: 38%
	height: 54%
	bottom: 2%
	left: 0

.apart_sheme_6
	position: absolute
	bottom: 11.9%
	left: 37%
	width: 27.4%
	height: 34%

.apart_sheme_7
	width: 38%
	height: 54%
	bottom: 2%
	right: 0

.apart_svg
	width: 440px
	height: 255px



.logo_text
	display: flex
	align-items: center
	font-size: 10px
	text-decoration: none
	color: #000
	font-weight: 800
	text-transform: uppercase
	img
		width: 38px
		margin-right: 10px

.modal
	z-index: 1000
	position: relative
	.modal__container
		width: 100%
		max-width: 343px
		padding: 40px 24px 72px
		position: relative
		border-radius: 5px

.modal_block
	margin-top: 42px
	.button_silver
		width: 100%
		text-align: center
		font-size: 12px
		padding: 22px

.modal_title
	font-size: 25px
	font-weight: 300
	font-family: $userfont
	margin-bottom: 30px

.modal__close
	position: absolute
	top: 24px
	right: 19px
	cursor: pointer
	

.form_str
	margin-bottom: 40px
	input
		width: 100%
		border: none
		border-bottom: 1px solid #BEBEBE
		padding-bottom: 15px
	input.error
		border-color: red



.floor_modal
	.modal__container
		overflow: hidden
		padding: 25px 19px
	.modal__close
		&:before
			color: $ac
			font-weight: 700
	.modal_block
		transform: scale(0.9) translate(-5%, 0)

.choices_popup_top
	display: flex
	align-items: center
	margin-top: -40px
	margin-bottom: 30px
	div.red
		color: $ac
		span
			background: $ac
	div
		display: flex
		align-items: center
		font-size: 11px
		margin-right: 16px
		span
			display: flex
			align-items: center
			justify-content: center
			width: 34px
			height: 34px
			color: #fff
			background: #000
			border-radius: 5px
			margin-left: 12px

.button_link
	font-size: 11px
	color: $ac
	border: 1px solid $ac
	border-radius: 5px
	padding: 13px 0 15px
	padding-left: 15px
	width: 150px
	display: block
	text-align: center
	background-image: url(../images/icon/25.svg)
	background-repeat: no-repeat
	background-position: 13px 48%
	margin: 27px auto 0

.about_title
	font-size: 16px
	font-weight: 300
	margin-top: 5px
	margin-bottom: 25px

.about_row
	margin-bottom: 30px

.about_col
	background-repeat: no-repeat
	background-position: 0 center
	font-size: 14px
	padding: 17px 0
	padding-left: 40px
	border-bottom: 1px solid #D0D0D0
	&:last-child
		border-bottom: none

.credit_radios
	border-top: 1px dashed #E6E6E6
	padding-top: 24px
	padding-bottom: 20px
	h2
		font-size: 21px
		font-weight: 300
		margin: 0
		margin-bottom: 30px

.radiobutton_block
	position: relative
	margin-bottom: 30px
	input
		position: absolute
		visibility: hidden
		&:checked
			~label
				&:before
					background: $ac
	label
		font-size: 14px
		cursor: pointer
		display: flex
		align-items: center
		&:before
			content: ''
			display: block
			transition: $tr
			width: 12px
			height: 12px
			border-radius: 100%
			box-shadow: 0 0 0 1px #b5b5b5
			border: 3px solid #fff
			margin-right: 10px

.credit_steps
	padding-top: 44px
	.section_text
		margin: 25px 0

.section_text
	font-size: 13px

.credit_steps_item
	max-width: 276px
	margin: auto
	border-bottom: 1px solid #D5D5D5
	padding-bottom: 35px
	margin-bottom: 30px
	span
		display: block
		font-size: 34px
		font-weight: 600
		text-align: center
	&:last-child
		border: none
		margin-bottom: 0

.credit_steps_icon
	width: 120px
	height: 120px
	margin: auto
	background-repeat: no-repeat
	background-position: center

.credit_steps_text
	max-width: 170px
	text-align: center
	font-size: 12px
	margin: 17px auto 0


.term_item
	background-color: #fff
	border-radius: 5px
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1)
	padding: 30px
	position: relative
	margin-bottom: 11px
	.button_line
		margin-top: 35px

.term_item_icon
	width: 110px
	height: 110px
	background-repeat: no-repeat

.term_content
	h2
		font-size: 22px
		font-weight: 300
		margin: 12px 0
	h3
		font-size: 14px
		font-weight: 300
		margin-top: 30px
	p
		font-size: 12px
	ul
		list-style-type: none
		font-weight: 600
		font-size: 12px
		padding: 0
		margin: 0
		margin-top: 20px
	li
		margin-bottom: 10px
		position: relative
		&:before
			content: ''
			width: 3px
			height: 3px
			border-radius: 100%
			background: #000
			display: inline-block
			position: absolute
			left: -15px
			top: 6px

.term_item_num
	width: 37px
	height: 51px
	background: $ac
	color: #fff
	font-size: 17px
	font-weight: 500
	position: absolute
	top: 0
	right: 17px
	display: flex
	align-items: center
	justify-content: center
	clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%)

.map_container
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	>*
		width: 100% !important
		height: 100% !important

.progress_block
	border-radius: 5px
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1)
	background: #fff
	padding: 20px 0 16px
	margin-bottom: 40px
	.section_title
		margin-bottom: 16px

.progress_top
	padding: 0 20px
	margin-bottom: 22px

.progress_years
	border-radius: 8px
	background: #F8F8F8
	padding: 18px 4px

.progress_num
	color: $ac
	border: 2px solid $ac
	font-size: 17px
	border-radius: 5px
	display: inline-block
	padding: 6px 10px
	line-height: 1
	margin-left: 14px

.progress_months
	display: flex
	align-items: center
	flex-wrap: wrap
	margin-top: 16px
	overflow: hidden
	position: relative

.progress_month
	font-size: 13px
	border-radius: 5px
	border: 1px solid #C1C1C1
	padding: 7px
	transition: $tr
	user-select: none
	width: 71px
	text-align: center
	margin: 0px 12px 20px
	line-height: 1
	color: #000

.progress_month.active
	color: #fff
	background: $ac
	border-color: $ac

.progress_month.disabled
	background: #E6E6E6
	border-color: #E6E6E6
	cursor: default
	position: relative

.progress_slider
	overflow: hidden
	.swiper-slide
		padding: 0 20px

.progress_slider_big
	display: block
	border-radius: 5px
	overflow: hidden
	position: relative
	box-shadow: 0px 10px 13px -10px #555, 5px 5px 15px 5px rgba(0,0,0,0)
	margin-bottom: 20px
	img
		width: 100%
		display: block
	&:before
		content: ''
		width: 22px
		height: 22px
		background-image: url(../images/icon/26.svg)
		background-repeat: no-repeat
		background-position: center
		display: inline-block
		position: absolute
		top: 6px
		left: 10px

.slider_prev, .slider_next
	border-radius: 5px
	border: 1px solid #ADADAD
	background-color: #fff
	width: 45px
	height: 22px
	background-repeat: no-repeat
	background-position: center
	cursor: pointer
	z-index: 2

.slider_prev
	background-image: url(../images/slider_nav/prev.svg)

.slider_next
	background-image: url(../images/slider_nav/next.svg)

.progress_bottom
	position: relative
	.slider_prev, .slider_next
		position: absolute
		top: 50%
		transform: translate(0, -50%)

	.slider_prev
		left: 30px

	.slider_next
		right: 30px


.fancybox__thumbs .carousel__slide .fancybox__thumb::after
	border-color: $ac

.cameras_block
	background: #dbdbdb
	padding: 20px

.cameras_item
	margin: auto
	margin-bottom: 20px
	border-radius: 5px
	overflow: hidden
	position: relative
	max-width: 320px

.canvas
	height: 273px
	>*
		width: 100%
		height: 100%
		display: block
		border-radius: 5px

.cameras_count
	width: 31px
	height: 31px
	border-radius: 4px
	background-color: rgba(#F0F0F0, 0.7)
	border-radius: 4px
	background-image: url(../images/icon/27.svg)
	background-repeat: no-repeat
	background-position: center
	display: flex
	align-items: center
	justify-content: center
	color: #fff
	font-size: 9px
	font-weight: 700
	padding-right: 4px
	position: absolute
	top: 10px
	left: 10px

.button_fullscrin
	background-image: url(../images/icon/28.svg)
	background-repeat: no-repeat
	background-position: center
	width: 32px
	height: 32px
	border-radius: 4px
	background-color: rgba(#F0F0F0, 0.7)
	position: absolute
	bottom: 10px
	right: 10px

//background-image: url(../images/11111111/1.svg)



@import media