.button_phone
	width: 33px
	height: 33px
	background-image: url(../images/icon/2.svg)
	background-repeat: no-repeat
	background-position: center

.button_menu
	width: 18px
	height: 14px
	background-image: url(../images/icon/1.svg)
	background-repeat: no-repeat
	background-position: center

.button_close
	width: 30px
	height: 30px
	background-image: url(../images/icon/3.svg)
	background-repeat: no-repeat
	background-position: center

.button_favorite
	font-size: 13px
	position: relative
	padding-left: 35px
	height: 18px
	background-image: url(../images/icon/4.svg)
	background-repeat: no-repeat
	background-position: left center
	background-size: auto 100%
	span
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: -7px
		left: 13px
		border: 3px solid #F8F8F8
		width: 17px
		height: 17px
		background: $ac
		border-radius: 100%
		font-size: 8px
		color: #fff


.button_son, .button_dec, .button_play
	background-color: #fff
	background-repeat: no-repeat
	background-position: center
	width: 39px
	height: 39px
	border-radius: 100%

.button_son
	background-image: url(../images/icon/5.svg)

.button_dec
	background-image: url(../images/icon/6.svg)

.button_play
	background-image: url(../images/icon/7.svg)



.button
	font-size: 14px
	background: $ac
	padding: 20px
	width: 100%
	text-align: center
	border-radius: 5px
	color: #fff
	&:hover
		background: lighten($ac, 5%)
	&:active
		background: darken($ac, 5%)



.button_line
	font-size: 10px
	font-weight: 300
	border: 1px solid #707070
	padding: 7px 13px
	border-radius: 24px
	transition: $tr
	&:active
		color: $ac
		border-color: $ac

.button_line.type_2
	border-radius: 5px
	padding: 12px 36px
	color: #000
	font-size: 12px

.button_clear
	font-size: 11px
	border: 1px solid #000
	border-radius: 5px
	padding: 14px 28px
	min-width: 134px
	text-align: center
	&:active
		background: #fff
		border-color: #fff

.button_silver
	font-size: 12px
	border-radius: 5px
	border: 1px solid #BFBFBF
	padding: 13px 35px
	&:active
		border-color: $ac
		color: $ac

.button_back
	font-size: 11px
	display: flex
	align-items: center
	span
		display: inline-block
		background-image: url(../images/icon/20.svg)
		background-repeat: no-repeat
		background-position: center
		width: 26px
		height: 26px
		border-radius: 5px
		border: 1px solid $ac
		margin-right: 8px

.button_num
	width: 46px
	height: 46px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 5px
	font-size: 14px
	border: 1px solid #C3C3C3
	background: #fff
	margin-top: 12px
	margin-bottom: 20px
	&:active
		border-color: $ac
		color: $ac

.button_favor
	background-image: url(../images/icon/21.svg)
	background-repeat: no-repeat
	background-position: center
	width: 16px
	height: 16px

.button_print
	background-image: url(../images/icon/22.svg)
	background-repeat: no-repeat
	background-position: center
	width: 16px
	height: 16px

.button_share
	background-image: url(../images/icon/23.svg)
	background-repeat: no-repeat
	background-position: center
	width: 16px
	height: 16px



//background-image: url(../images/11111111/1.svg)